@import url('../../css/passport.css');
#passport {
    height: 1510px;
}
.passport-page > main #left-content {
    overflow: auto;
    height: 598px;
}
.passport-page > main #left-content .cart-data{
    width: 100%;
}
.passport-page > main #left-content .cart-data h3{
    font-weight: normal;
    position: relative;
    top: 5px;
}
.passport-page > main #left-content .cart-data #table-list{
    width: 100%;
}
.passport-page > main #left-content .cart-data #table-list .header th{
    text-align: left;
    color: gray;
    padding-left: 2%;
}
.passport-page > main #left-content .cart-data #table-list .content{
    padding-left: 2%;
}
.passport-page > main #left-content .cart-data #table-list .content td{
    text-align: left;
    padding-left: 2%;
    font-size: 102%;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(1){
    text-indent: 16%;
    color: gray;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(4){
    text-indent: 2%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(1) {
    width: 6%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(2) {
    width: 36%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(3){
    width: 18%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(4){
    width: 19%;
}
.passport-page > main #left-content .cart-data:nth-child(2) #table-list .content td:nth-child(2){
    width: 21%;
}
.passport-page > main #left-content .cart-data:nth-child(3) #table-list .content td:nth-child(2){
    width: 63%;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(5), .passport-page > main #left-content .cart-data #table-list .content td:nth-child(1){
    text-align: left;
    padding-left: 1%;
    width: 7%;
}

@media only all and (max-width: 414px){}
@media only all and (max-width: 600px){}
@media only all and (max-width: 768px){}
@media only all and (max-width: 800px){}
@media only all and (max-width: 960px){}
@media only all and (max-width: 1024px){}
@media only all and (max-width: 1280px){}
@media only all and (max-width: 1366px){}
@media only all and (max-width: 1440px){}
@media only all and (max-width: 1536px){}
@media only all and (max-width: 1600px){}
@media only all and (max-width: 1920px){}
@media only all and (min-width: 1920px){}