@import url('../../css/passport.css');
#passport {
    height: 1000px;
}
.passport-page > main #left-content {
    overflow: auto;
    height: 598px;
}
.passport-page > main #left-content .cart-data{
    width: 100%;
}
.passport-page > main #left-content .cart-data h3{
    font-weight: normal;
    position: relative;
    top: 5px;
}
.passport-page > main #left-content .cart-data #table-list{
    width: 100%;
    height: 250px;
}
.passport-page > main #left-content .cart-data #table-list .header th{
    text-align: left;
    color: gray;
    padding-left: 2%;
}
.passport-page > main #left-content .cart-data #table-list .content{
    padding-left: 2%;
}
.passport-page > main #left-content .cart-data #table-list .content td{
    text-align: left;
    padding-left: 2%;
    font-size: 102%;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(1){
    text-indent: 16%;
    color: gray;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(4){
    text-indent: 2%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(1) {
    width: 6%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(2) {
    width: 36%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(3){
    width: 18%;
}
.passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(4){
    width: 19%;
}
.passport-page > main #left-content .cart-data:nth-child(2) #table-list .content td:nth-child(2){
    width: 21%;
}
.passport-page > main #left-content .cart-data:nth-child(3) #table-list .content td:nth-child(2){
    width: 63%;
}
.passport-page > main #left-content .cart-data #table-list .content td:nth-child(5), .passport-page > main #left-content .cart-data #table-list .content td:nth-child(1){
    text-align: left;
    padding-left: 1%;
    width: 7%;
}

@media all and (max-width: 414px){

}
@media all and (max-width: 600px){
    #passport {
        height: 1160px;
    }    
}
@media all and (max-width: 768px){
    #passport {
        height: 1320px;
    } 
    .passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(1) {
        width: 25%;
    }
    .passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(2) {
        width: 70%;
    }
    .passport-page > main #left-content .cart-data:nth-child(2) #table-list .content td:nth-child(1), .passport-page > main #left-content .cart-data:nth-child(3) #table-list .content td:nth-child(1) {
        width: 15%;
    }
    .passport-page > main #left-content .cart-data:nth-child(3) #table-list .content td:nth-child(2) {
        width: 40%;
    }
    .passport-page > main #left-content .cart-data:nth-child(2) #table-list .content td:nth-child(2) {
        width: 39%;
    }
    .passport-page > main #left-content .cart-data:nth-child(1) #table-list .header th:nth-child(4), .passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(4), .passport-page > main #left-content .cart-data:nth-child(1) #table-list .content td:nth-child(3), .passport-page > main #left-content .cart-data:nth-child(1) #table-list .header th:nth-child(3),
    .passport-page > main #left-content .cart-data:nth-child(2) #table-list .header th:nth-last-child(1), .passport-page > main #left-content .cart-data:nth-child(2) #table-list .content td:nth-last-child(1){ display: none; }
}
@media all and (max-width: 800px){
    #passport {
        height: 1320px;
    } 
}
@media all and (max-width: 960px){
    #passport {
        height: 1320px;
        padding-bottom: 28%;
    }
}
@media all and (max-width: 1024px){
    #passport {
        height: 1320px;
    }
}
@media all and (max-width: 1280px){
    #passport {
        height: 1320px;
    }
}
@media all and (max-width: 1366px){}
@media all and (max-width: 1440px){}
@media all and (max-width: 1536px){}
@media all and (max-width: 1600px){}
@media all and (max-width: 1920px){}
@media all and (min-width: 1920px){}