@import url('../passport.css');
#passport {
    height: 472px;
}
.passport-page {
    height: calc(329px * 2);
}
.passport-page > main #left-content #table-list .header th{
    color: gray;
}
.passport-page > main #left-content #table-list .content td:nth-child(1){
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.passport-page > main #left-content #table-list .content td:nth-child(2){
    width: 39%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.passport-page > main #left-content #table-list .content td:nth-child(3){
    width: 23%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.passport-page > main #left-content #table-list .content td:nth-child(4){
    text-indent: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.passport-page > main #left-content #table-list .content td:nth-child(5){
    padding-top: 10px;
    padding-bottom: 10px;
}
.passport-page > main #left-content #table-list .header th:nth-child(4), .passport-page > main #left-content #table-list .content td:nth-child(4){
    text-align: left;
    width: 28%;
}
.passport-page > footer #left-content{
    position: relative;
    top: 189px;
    left: -73%;
}