@import url('../passport.css');
#passport {
    height: 410px;
}
.passport-page {
    height: calc(284px * 2);
}
.passport-page > main .profile-settings{
    width: 50%;
}
.passport-page > main .profile-settings .editor{
    display: block;
    margin-top: 2%;
}
.passport-page > main .profile-settings .editor label{
    display: block;
    margin-top: 8px;
    font-size: 80%;
    margin-left: 2%;
    color: gray;
}
.passport-page > main .profile-settings .editor input{
    background-color: white;
    font-size: 90%;
    color:black;
    border: solid 2px darkgray;
    padding: 5px;
    font-weight: bold;
    text-indent: 2%;
    margin-top: 12px;
    width: 86%;
    border-radius: 4px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.passport-page > main .profile-settings .editor #control{
    font-size: 100%;
    display: inline-table;
    margin-top: 15px;
    color: gray;
    margin-left: 2%;
}
.passport-page > main .profile-settings .editor #control:hover{
    cursor: pointer;
}
.passport-page > main .profile-settings .editor #control i.inputing{
    color: #0079bf;
}
.passport-page > main .profile-settings .editor input:focus{
    border-color:#0079bf;
}
.passport-page > main .profile-settings .editor input:disabled{
    font-weight: normal;
    color: gray;
}
.passport-page > footer{
    position: relative;
    top: -32%;
}
.passport-page > footer #left-content{
    width: 100%;
    margin-top: 4%;
}
@media all and (min-width: 320px) and (max-width: 1024px){
    #passport { height: 539px; }
    .passport-page { height: calc(245px * 2); }
    .passport-page > header #left-content span { font-size: 77%; }
    .passport-page > header #left-content{ margin-top: 0px; }
    .passport-page > main .profile-settings { width: 138%; }
    .passport-page > footer { display: none; }
}
@media all and (min-width: 640px) and (max-width: 1024px){
    .passport-page > footer { top: -29%; }
    .passport-page > main .profile-settings { width: 100%; }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    .passport-page > main .profile-settings { width: 50%; }
}