@import url('../passport.css');
#passport{ height: 322px; }
.passport-page{ height: 489px; }
.passport-page > main .services-settings header{
  margin-left: 4%;
}
.passport-page > main .services-settings header span{
  color: gray;
  display: block;
  font-size: 40%;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2%;
  position: relative;
  top: 15px;
  background: white;
  width: 50px;
  padding-left: 1%;
}
.passport-page > main .services-settings header select{
  margin-top: 1%;
  border: none;
  font-size: 90%;
  background-color: white;
  padding: 1%;
  width: 51%;
  border-radius: 10px;
  border: solid 2px gray;
}
.passport-page > main .services-settings footer{
  margin-top: -1%;
  margin-left: 3vw;
}
.passport-page > main .services-settings footer .services-selectors{
  display: inline-table;
  width: 30%;
}
.passport-page > main .services-settings footer .services-selectors .selector{
  margin-top: 4%;
  display: block;
}
.passport-page > main .services-settings footer .services-selectors .selector span{
  font-size: 88%;
}
.passport-page > footer {
    float: left;
    margin-top: -19%;
    margin-left: 22px;
}
.passport-page > main .services-settings footer .services-selectors .selector input{
    position: absolute;
    left: -9999px;
}

.passport-page > main .services-settings footer .services-selectors .selector input + span{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.passport-page > main .services-settings footer .services-selectors .selector input + span:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #f0f3f4;
    background-color: #f0f3f4;
}

.passport-page > main .services-settings footer .services-selectors .selector input + span:before{
    border-radius: 2px;
}

.passport-page > main .services-settings footer .services-selectors .selector input:checked + span:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.passport-page > main .services-settings footer .services-selectors .selector input:checked + span:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media all and (min-width: 320px) and (max-width: 1024px){
  .passport-page > header #left-content span { font-size: 77%; }
  .passport-page > header #left-content{ margin-top: 0px; }
  #passport { height: 644px; }
  .passport-page > main .services-settings header select {width: 73vw;}
  .passport-page { height: 757px; }
  .passport-page > footer { display: none; }
  .passport-page > main .services-settings footer .services-selectors {
    display: block;
    width: 100%;
  }
  .passport-page > main .services-settings header span { top: 10px; }
}
@media all and (min-width: 640px) and (max-width: 1024px){
  #passport { height: 931px; }
  .passport-page { height: 837px;}
}
@media all and (min-width: 1024px) and (max-width: 1400px){
  .passport-page > main .services-settings footer .services-selectors {
    margin-left: 1%;
  }
  .passport-page > footer {
    margin-top: -277px;
  }
}
@media all and (min-width: 1400px) and (max-width: 1600px){
  .passport-page > footer {
    margin-top: -277px;
  }
}