@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
html,body{
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;
    margin-left: -1%;
    width: 102%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.admin-portal-page > header{
  float: left;
  width: 19vw;
  height: 100vh;
  background-color: #0079bf;
  padding-right: 29px;
}
.admin-portal-page > header nav{
  display: block;
  margin-left: 2%;
  margin-top: 4%;
}
.admin-portal-page > header nav a{
  display: block;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  text-decoration: none;
  font-size: 120%;
  color: white;
}
.admin-portal-page > header footer{
  position: fixed;
  bottom: 2vh;
  left: 4%;
}
.admin-portal-page > header footer ul{
  list-style-type: none;
}
.admin-portal-page > header footer ul li{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}
.admin-portal-page > header footer ul li img{
    width: 30px;
    height: 30px;
}
.admin-portal-page > main{
  float: right;
  width: 78vw;
  height: 100vh;
  background-color: #eff3f4;
  padding-left: 2px;
  overflow: auto;
}
