.header > #header_bottom_adaptive {
    float: right;
    margin-right: 8%;
    display: none;
}
.header > #header_bottom_adaptive header {
    position: relative;
    top: -2vw;
}
.header > #header_bottom_adaptive header ul.adaptive-buttons{
    list-style-type: none;
    font-size: 27px;
}
.header > #header_bottom_adaptive header ul.adaptive-buttons li{
    display: inline-table;
    padding-left: 5px;
}
.header > #header_bottom_adaptive header ul.adaptive-buttons li:hover{
    cursor: pointer;
}
.header > #header_bottom_adaptive footer #adaptive-window{
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: 8px;
    width: 100vw;
    background-color: white;
    height: 70%;
    overflow: auto;
    padding-bottom: 1%;
    box-shadow: -8px 11px 10px 5px rgba(50, 50, 50, 0.75);
}
.menu > header{
    width: 100%;
    margin-top: 6%;
    display: block;
}
.menu > header .welcome-link{
    float: left;
    margin-left: 4vw;
    font-size: 90%;
}
.menu > header .welcome-link a{
    color: #0079bf;
    text-decoration: none;
}
.menu > header .exchange-selector {
    float: right;
    margin-right: 4vw;
}
.menu > header .exchange-selector #regexchange {
    color: #0079bf;
    margin-top: 0%;
}
.menu > main {
    display: block;
    margin-top: 16%;
}
.menu > main nav {
    margin-left: 4vw;
    font-size: 110%;
    text-transform: uppercase;
    font-weight: 700;
}
.menu > main nav div{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 4vw;
}
.menu > main nav div.active{
    border-right: solid 12px #0079bf;
}
.menu > main nav div a{
    color: #0079bf;
    text-decoration: none;
}
.menu > footer{
    display: block;
    margin-top: 4%;
}
.menu > footer a{
    padding-right: 4%;
}

@media only all and (max-width: 414px){}
@media only all and (max-width: 600px){}
@media only all and (max-width: 768px){}
@media only all and (max-width: 800px){}
@media only all and (max-width: 960px){}
@media only all and (max-width: 1024px){}
@media only all and (max-width: 1280px){}
@media only all and (max-width: 1366px){}
@media only all and (max-width: 1440px){}
@media only all and (max-width: 1536px){}
@media only all and (max-width: 1600px){}
@media only all and (max-width: 1920px){}
@media only all and (min-width: 1920px){}