#auth-lightbox{
    width: 50vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 5px 5px 13px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 13px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 13px -5px rgba(34, 60, 80, 0.6) inset;
    word-spacing: 0.1em;
    letter-spacing: 0.02em;
}
#auth-lightbox > .module-page{
    width: 100%;
    height: 100%;
    display: block;
}
  
#auth-lightbox > .close{
    float: right;
    margin-right: 4vw;
    margin-top: 4%;
}
.module-page > header, .module-page > main, .module-page > footer{
    float: left;
    margin-left: 2vw;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    width: 100%;
}
  
.module-page > header h2{
    font-size: 180%;
}
.module-page > main{
    height: calc(100% / 2);
    overflow: auto;
}
button#form-submit{
    font-size: 100%;
    width: 23%;
    padding: 1%;
    background-color: #0079bf;
    color: #ffffff;
    border: none;
}
button#form-submit[data-datacontrol="facebook"]{
    background-color: #3b5998;
}
button#form-submit[data-datacontrol="facebook"] > i.fab.fa-facebook{
    padding-right: 6px;
}
.module-page > main .module-form form, .module-page main #reg-content li form{
    padding: 2%;
}
.module-page > main .module-form form div, .module-page main #reg-content li form div{
    display: block;
    padding: 1%;
}
.module-page > main .module-form form div label, .module-page main #reg-content li form div label{
    font-size: 90%;
    display:block;
}
.module-page > main .module-form form div input, .module-page main #reg-content li form div input{
    font-size: 120%;
    display:block;
    margin-top: 10px;
    width: 90%;
    text-indent: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}
.module-page main #reg-content{
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    margin-left: -2vw;
}
  
.module-page > main .module-form form div input:focus, .module-page main #reg-content li form div input:focus{
    border-bottom: solid 2px #0079bf;
    background-color: transparent;
}
.module-page main #reg-content li form div select{
    font-size: 120%;
    display:block;
    margin-top: 10px;
    width: 90%;
    text-indent: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: solid 2px gray;
    background-color: transparent;
}
#atettion{
    width: 90%;
    height: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: solid 2px #0079bf;
    display: block;
}
#atettion > span{
   display: block;
   text-align: justify;
   font-size: 90%;
   margin-left: 2vw;
}
#atettion > button#form-submit{
   display: block;
   float: right;
   margin-right: 2vw;
   margin-top: 2%;
   font-size: 75%;
   width: 30%;
}
#form-note{
    font-style: italic;
    color: gray;
    font-size: 90%;
    text-align: justify;
    width: 80%;
    display: block;
    margin-left: 2vw;
    padding-top: 2%;
    padding-bottom: 2%;
}
.module-page > footer ul{
    list-style-type: none;
    font-size: 120%;
    margin-left: -12vw;
}
.module-page > footer ul li{
    display: inline;
    padding-left: 1vw;
    padding-right: 1vw;
    color: gray;
    cursor: pointer;
}
.module-page > footer ul li:hover{
    color: #0079bf;
}
  
.module-page[data-screen="SignIn"] > main img[data-service="login"], .module-page[data-screen="Forgot"] > main img[data-service="forgot"]{
    display: block;
    width: 20%;
    margin-left: 15vw;
}
.module-page[data-screen="SignIn"] > main button#form-submit{
    display: inline-table;
}
.module-page[data-screen="SignIn"] > main button#form-submit:nth-last-child(2){
    float: left;
    margin-left: 2vw;
}
.module-page[data-screen="SignIn"] > main button#form-submit:nth-last-child(1){
    float: right;
    margin-right: 6vw;
}
.module-page > main #reg-footer button#form-submit{
    margin-top: 1%;
    margin-right: 6vw;
    float: right;
}

@media all and (max-width: 768px){
    #auth-lightbox {
        width: 100vw;
    }
    button#form-submit {
        width: 45%;
        padding: 2%;
    }
    .module-page[data-screen="SignIn"] > main img[data-service="login"], .module-page[data-screen="Forgot"] > main img[data-service="forgot"] {
        margin-left: 34vw;
    }
    .module-page > main {
        height: calc(120% / 2);
    }
    .module-page main #reg-content {
        margin-left: -6vw;
        width: 90%;
    }
    #atettion {
        height: 130px;
    }
    #atettion > button#form-submit {
        margin-top: 5%;
        width: 55%;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    #auth-lightbox {
        width: 70vw;
    }
    button#form-submit {
        width: 40%;
        padding: 2%;
    }
    .module-page[data-screen="SignIn"] > main img[data-service="login"], .module-page[data-screen="Forgot"] > main img[data-service="forgot"] {
        margin-left: 24vw;
    }

    .module-page > main {
        height: calc(88% / 2);
    }
    .module-page main #reg-content {
        margin-left: -4vw;
        width: 97%;
    }
    #atettion {
        height: 130px;
    }
    #atettion > button#form-submit {
        margin-top: 5%;
        width: 48%;
    }

}