#lightbox{
    background-color: rgba(0, 0, 0, 0.377);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.lightbox-closed{ visibility: hidden; }

@media all and (max-width: 414px){}
@media all and (max-width: 600px){}
@media all and (max-width: 768px){}
@media all and (max-width: 800px){}
@media all and (max-width: 960px){}
@media all and (max-width: 1024px){}
@media all and (max-width: 1280px){}
@media all and (max-width: 1366px){}
@media all and (max-width: 1440px){}
@media all and (max-width: 1536px){}
@media all and (max-width: 1600px){}
@media all and (max-width: 1920px){}
@media all and (min-width: 1920px){}