.passport-menu-adaptive{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: block;
    background-color: #0079bf;
}
.passport-menu-adaptive .nav{
    list-style-type: none;
    margin-left: -10%;
}
.passport-menu-adaptive .nav li{
    display: inline-block;
    padding: 2%;
    margin-left: 2%;
}
.passport-menu-adaptive .nav li img{
    width: 30px;
}
.passport-menu-adaptive .nav li a{ text-decoration: none; }
.passport-menu-adaptive .nav li span{
    display: block;
    color: white;
    font-size: 12px;
}
.passport-menu-adaptive .nav li.active{
    background-color: #1E90FF;
}