/* Псевдо в промо */

#promo > main .promo-feed .promoblock::before, #investsearch > main .popular-objects .popular-object::before{
    content: '';
    position: absolute;
}
#promo > main .promo-feed .promoblock::after, #investsearch > main .popular-objects .popular-object::after{
    content: '';
    position: absolute;
}


/*Внутрений див*/

#threedetal-left{
    left: -304px;
}
#threedetal-right{
    right: 390px;
    top: 15px;
    -webkit-box-shadow: 8px -6px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px -6px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         8px -6px 6px 0px rgba(50, 50, 50, 0.75);
}
#threedetal-left, #threedetal-right{
    width: 17%;
    position: relative;
    display: flex;
}
#promo > main .promo-feed .promoblock, #investsearch > main .popular-objects .popular-object{
    position: relative;
    z-index: 99;
}
#investsearch > main .popular-objects #threedetal-left{
    left: -246px;
    top: -26px;
}
#investsearch > main .popular-objects #threedetal-right{
    right: 326px;
    top: -9px;
}
@media all and (min-width:1024px) and (max-width: 1100px){
    #threedetal-left {
        left: 109px;
        top: 1vw;
    }
    #threedetal-right {
        right: -62px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 104px;
        top: -3vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -55px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 11px;}
}
@media all and (min-width:1100px) and (max-width: 1181px){
    #threedetal-left {
        left: 108px;
        top: 1vw;
    }
    #threedetal-right {
        right: -57px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 130px;
        top: -3vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -70px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 3px;}
}
@media all and (min-width:1181px) and (max-width: 1280px){
    #threedetal-left {
        left: 114px;
        top: 1vw;
    }
    #threedetal-right {
        right: -59px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 135px;
        top: -2vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -72px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}
@media all and (min-width:1280px) and (max-width: 1366px){
   #threedetal-left {
        left: 126px;
        top: 1vw;
    }
    #threedetal-right {
        right: -65px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 145px;
        top: -2vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -78px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 6px;}
}
@media all and (min-width:1366px) and (max-width: 1400px){
    #threedetal-left {
        left: 129px;
        top: 16px;
    }
    #threedetal-right {
        right: -67px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 154px;
        top: -2vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -85px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 5px;}
}
@media all and (min-width:1400px) and (max-width: 1600px){
    #threedetal-left {
        left: 138px;
        top: 18px;
    }
    #threedetal-right {
        right: -70px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 160px;
        top: -21px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -88px;
        top: -8px;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}
@media all and (min-width:1600px) and (max-width: 1800px){
    #threedetal-left {
        left: 147px;
        top: 25px;
    }
    #threedetal-right {
        right: -74px;
        top: 2vw;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 104px;
        top: -3vw;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: -55px;
        top: -1vw;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}