/* Псевдо в промо */

#promo > main .promo-feed .promoblock::before, #investsearch > main .popular-objects .popular-object::before{
    content: '';
    position: absolute;
}
#promo > main .promo-feed .promoblock::after, #investsearch > main .popular-objects .popular-object::after{
    content: '';
    position: absolute;
}


/*Внутрений див*/

#threedetal-left{
    left: -304px;
}
#threedetal-right{
    right: 390px;
    top: 15px;
}
#threedetal-left, #threedetal-right{
    width: 17%;
    float: right;
    position: relative;
    background-color: white;
    display: flex;
    -webkit-box-shadow: 6px -7px 4px 0px rgba(130, 130, 130, 0.74);
    -moz-box-shadow: 6px -7px 4px 0px rgba(130, 130, 130, 0.74);
    box-shadow: 6px -7px 4px 0px rgba(130, 130, 130, 0.74);
}
#promo > main .promo-feed .promoblock, #investsearch > main .popular-objects .popular-object{
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 6px 6px 4px 0px rgba(130, 130, 130, 0.74);
    -moz-box-shadow: 6px 6px 4px 0px rgba(130, 130, 130, 0.74);
    box-shadow: 6px 6px 4px 0px rgba(130, 130, 130, 0.74);
}
#investsearch > main .popular-objects #threedetal-left{
    left: -246px;
    top: -26px;
}
#investsearch > main .popular-objects #threedetal-right{
    right: 326px;
    top: -9px;
}
@media all and (min-width:1024px) and (max-width: 1100px){
    #threedetal-left {
        left: -170px;
    }
    #threedetal-right {
        right: 223px;
        top: 15px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -137px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 433px;
        top: -9px;
    }
}
@media all and (min-width:1100px) and (max-width: 1181px){
    #threedetal-left {
        left: -173px;
    }
    #threedetal-right {
        right: 229px;
        top: 15px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -148px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 199px;
        top: -9px;
    }
}
@media all and (min-width:1181px) and (max-width: 1280px){
    #threedetal-left {
        left: -183px;
    }
    #threedetal-right {
        right: 240px;
        top: 15px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 106px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 219px;
        top: -9px;
    }
}
@media all and (min-width:1280px) and (max-width: 1366px){
    #threedetal-left {
        left: -202px;
    }
    #threedetal-right {
        right: 264px;
        top: 15px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: 128px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 219px;
        top: -9px;
    }
}
@media all and (min-width:1366px) and (max-width: 1400px){
    #threedetal-left {
        left: -212px;
    }
    #threedetal-right {
        right: 278px;
        top: 18px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -178px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 239px;
        top: -9px;
    }
}
@media all and (min-width:1400px) and (max-width: 1600px){
    #threedetal-left {
        left: -257px;
    }
    #threedetal-right {
        right: 330px;
        top: 20px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -206px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 273px;
        top: -9px;
    }
}
@media all and (min-width:1600px) and (max-width: 1800px){
    #threedetal-left {
        left: -257px;
    }
    #threedetal-right {
        right: 331px;
        top: 15px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -212px;
        top: -26px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 279px;
        top: -9px;
    }
}