/* Псевдо в промо */

#promo > main .promo-feed .promoblock::before, #investsearch > main .popular-objects .popular-object::before{
    content: '';
    position: absolute;
}
#promo > main .promo-feed .promoblock::after, #investsearch > main .popular-objects .popular-object::after{
    content: '';
    position: absolute;
}


/*Внутрений див*/

#threedetal-left{
    left: -304px;
}
#threedetal-right{
    right: 390px;
    top: 15px;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
#investsearch > main .popular-objects #threedetal-right {
    -webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    width: 16%;
    padding-right: 11px;
}
#threedetal-left, #threedetal-right{
    width: 17%;
    position: relative;
    display: flex;
}
#promo > main .promo-feed .promoblock, #investsearch > main .popular-objects .popular-object{
    position: relative;
    z-index: 99;
}
@media all and (min-width:1024px) and (max-width: 1100px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 8px;
    }
    #threedetal-left {
        left: -192px;
        top: 18px;
    }
    #threedetal-right {
        right: 244px;
        top: 24px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -185px;
        top: -12px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 236px;
        top: -5px;
    }
   
    #promo > main .promo-feed .promoblock{left: 11px;}
}
@media all and (min-width:1100px) and (max-width: 1181px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 8px;
    }
    #threedetal-left {
        left: -219px;
        top: 22px;
    }
    #threedetal-right {
        right: 275px;
        top: 28px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -202px;
        top: -12px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 256px;
        top: -5px;
    }
    #promo > main .promo-feed .promoblock{left: 3px;}
}
@media all and (min-width:1181px) and (max-width: 1280px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 8px;
    }
    #threedetal-left {
        left: -235px;
        top: 24px;
    }
    #threedetal-right {
        right: 295px;
        top: 29px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -215px;
        top: -16px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 270px;
        top: -7px;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}
@media all and (min-width:1280px) and (max-width: 1366px){
   #promo > main .promo-feed .promoblock header {
        padding-right: 8px;
   }
   #threedetal-left {
        left: -253px;
        top: 27px;
    }
    #threedetal-right {
        right: 317px;
        top: 33px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -239px;
        top: -17px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 297px;
        top: -8px;
    }
    #promo > main .promo-feed .promoblock{left: 6px;}
}
@media all and (min-width:1366px) and (max-width: 1400px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 8px;
    }
    #threedetal-left {
        left: -267px;
        top: 29px;
    }
    #threedetal-right {
        right: 335px;
        top: 34px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -251px;
        top: -16px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 312px;
        top: -7px;
    }
    #promo > main .promo-feed .promoblock{left: 5px;}
}
@media all and (min-width:1400px) and (max-width: 1600px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 9px;
    }
    #threedetal-left {
        left: -301px;
        top: 34px;
    }
    #threedetal-right {
        right: 377px;
        top: 39px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -278px;
        top: -17px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 343px;
        top: -8px;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}
@media all and (min-width:1600px) and (max-width: 1680px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 9px;
    }
    #threedetal-left {
        left: -318px;
        top: 37px;
    }
    #threedetal-right {
        right: 395px;
        top: 42px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -290px;
        top: -16px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 357px;
        top: -7px;
    }
    #promo > main .promo-feed .promoblock{left: 4px;}
}
@media all and (min-width:1680px) and (max-width: 1800px){
    #promo > main .promo-feed .promoblock header {
        padding-right: 9px;
    }
    #threedetal-left {
        left: -331px;
        top: 39px;
    }
    #threedetal-right {
        right: 412px;
        top: 44px;
    }
    #investsearch > main .popular-objects #threedetal-left {
        left: -309px;
        top: -17px;
    }
    #investsearch > main .popular-objects #threedetal-right {
        right: 379px;
        top: -8px;
    }
}