.video-player > .play{
    display: block;
    position: relative;
    top: -200px;
    left: 40%;
}
.video-player > .play img{
    width: 90px;
    height: 90px;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.video-player > .play img:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.watching{
    display: none;
}
.video-player > .controls{
    display: block;
    position: relative;
    top: -4px;
    left: 8%;
    width: 100%;
}
.video-player > .controls *, {
    width: 34px;
    height: 34px;
    display: inline-block;
}
.video-player > .controls *:hover{
    cursor: pointer;
}

@media all and (max-width: 414px){}
@media all and (max-width: 600px){}
@media all and (max-width: 768px){
    .video-player > .play {
        top: calc(-230px / 2);
        left: calc(15% * 2);
    }
}
@media all and (min-width: 768px) and (max-width: 1280px){
    .video-player > .play {
        top: calc(-230px / 2);
        left: calc(60% / 2);
    }
}
@media all and (min-width: 800px) and (max-width: 960px){
    .video-player > .play {
        left: calc(65% / 2);
    }
}
@media all and (min-width: 960px) and (max-width: 1024px){
    .video-player > .play {
        top: calc(-235px / 2);
        left: calc(68% / 2);
    }
}
@media all and (max-width: 1280px){
    .video-player > .play {
        top: calc(-235px / 2);
        left: calc(68% / 2);
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    .video-player > .play {
        left: 36%;
    }
}
@media all and (max-width: 1440px){}
@media all and (max-width: 1536px){}
@media all and (max-width: 1600px){}
@media all and (max-width: 1920px){}
@media all and (min-width: 1920px){}