.video-player > .play{
    display: block;
    position: relative;
    top: -200px;
    left: 40%;
}
.video-player > .play img{
    width: 90px;
    height: 90px;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.video-player > .play img:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.watching{
    display: none;
}
.video-player > .controls{
    display: block;
    position: relative;
    top: -4px;
    left: 8%;
    width: 100%;
}
.video-player > .controls *, {
    width: 34px;
    height: 34px;
    display: inline-block;
}
.video-player > .controls *:hover{
    cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 640px){
    .video-player > .controls {
        top: -3px;
        left: 6%;
        padding-top: 2%;
        padding-bottom: 22%;
    }
    .video-player > .play {
        top: -135px;
        left: 32%;
    }
}
@media all and (min-width: 640px) and (max-width: 1024px){
    .video-player > .controls {
        top: -10px;
        left: 7%;
    }
    .video-player > .play {
        top: -197px;
        left: 38%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    .video-player > .controls {
        top: -2px;
        left: 6%;
    }
    .video-player > .play {
        top: -202px;
        left: 40%;
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    .video-player > .controls {
        top: -5px;
        left: 7%;
    }
    .video-player > .play {
        top: -200px;
        left: 40%;
    }
}
@media all and (min-width: 1366px) and (max-width: 1400px){
    .video-player > .controls {
        top: -9px;
        left: 8%;
    }
    .video-player > .play {
        top: -193px;
        left: 37%;
    }
}
@media all and (min-width: 1600px) and (max-width: 1680px){
    .video-player > .controls {
        top: -2px;
        left: 7%;
    }
    .video-player > .play {
        top: -201px;
        left: 40%;
    }
}
@media all and (min-width: 1680px) and (max-width: 1800px){
    .video-player > .controls {
        top: -2px;
        left: 7%;
    }
    .video-player > .play {
        top: -194px;
        left: 39%;
    }
}
@media all and (min-width: 1800px){
    .video-player > .controls {
        top: -5px;
        left: 7%;
    }
    .video-player > .play {
        top: -200px;
        left: 38%;
    }
}