name: PortalTestPipeline

trigger:
  - dev
  
strategy:
  matrix:
    linux:
      imageName: "ubuntu-latest"
    mac:
      imageName: "macOS-latest"
    windows:
      imageName: "windows-latest"
  maxParallel: 3
  
  
  pool:
    vmImage: $(imageName)
    
  
    
  
    
    
      
  