#reviews > main #slider-view .review-feed .review#with-title-image{
    margin-top: -3%;
    position: relative;
    top: 52px;
}
#reviews > main #slider-view .review-feed .review#with-title-image header, #reviews > main #slider-view-adaptive .review#with-title-image header{
    border-bottom: solid 2px gray;
    margin-left: 0%;
    width: 100%;
    padding-bottom: 5px;
}
#reviews > main #slider-view .review-feed .review#with-title-image header img, #reviews > main #slider-view-adaptive .review#with-title-image header img{
    width: 60%;
    object-fit: contain;
    height: 76px;
    position: relative;
    left: -7%;
}

@media only all and (max-width: 414px){}
@media only all and (max-width: 600px){}
@media only all and (max-width: 768px){}
@media only all and (max-width: 800px){}
@media only all and (max-width: 960px){}
@media only all and (max-width: 1024px){}
@media only all and (max-width: 1280px){}
@media only all and (max-width: 1366px){}
@media only all and (max-width: 1440px){}
@media only all and (max-width: 1536px){}
@media only all and (max-width: 1600px){}
@media only all and (max-width: 1920px){}
@media only all and (min-width: 1920px){}