#services > main #slider-controller img.controls-chromium{
    top: 111px;
}
#estate > main #slider-controller img.controls-chromium{
    top: 116px;
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    #services > main #slider-controller img.controls-chromium{
        left: 1%;
    }
    #estate > main #slider-controller img.controls-chromium{
        left: 3%;
        top: 119px;
    }
    #services > main footer#slider-controller img.controls-chromium{
        left: -7%;
    }
    #analytics > main footer#slider-controller img.controls-chromium{
        left: 23%;
    }
    #estate > main footer#slider-controller img.controls-chromium{
        left: 19%;
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    #services > main #slider-controller img.controls-chromium{
        left: calc(-4% / 1.5);
    }
    #services > main footer#slider-controller img.controls-chromium{
        left: calc(-35% / 1.5);
    }
    #estate > main #slider-controller img.controls-chromium{
        left: calc(20% / 1.5);
    }
    #estate > main footer#slider-controller img.controls-chromium{
        left: calc(-26% / 1.5);
    }
}
@media all and (min-width: 1366px) and (max-width: 1400px){
    #services > main #slider-controller img.controls-chromium{
        left: calc(29% / 1.5);
    }
    #services > main footer#slider-controller img.controls-chromium{
        left: calc(-42% / 1.5);
    }
    #estate > main #slider-controller img.controls-chromium{
        left: calc(9% / 1.5);
    }
    #estate > main footer#slider-controller img.controls-chromium{
        left: calc(-42% / 1.5);
    }
}