#news > main #slider-view .news-feed#hide, #services > main #slider-view .service-feed#hide, #analytics > main #slider-view .analytic-feed#hide, #estate > main #slider-view .estat-feed#hide, #reviews > main #slider-view .review-feed#hide, #news > main #slider-view-adaptive .news#hide, #services > main #slider-view-adaptive .service#hide, #analytics > main #slider-view-adaptive .analytic.hide, #estate > main #slider-view-adaptive .estat#hide, #reviews > main #slider-view-adaptive .review.hide{
    display: none;
}
#slider-controller > img{
    cursor: pointer;
}

[data-text]{
    position: relative;
}
  
[data-text]::before{
    content: attr(data-text);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 13vw;
    opacity: .5;
    color: #eff3f4;
}
@media all and (min-width: 320px) and (max-width: 1024px){
    [data-text]::before{ font-size: 26vw; }
}
  
[data-text] > *{
    position: relative;
    z-index: 2;
}

