@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');
@import url('addons/lightbox.css');
@import url('addons/docsicon.css');
@import url('addons/video-player.css');
@import url('addons/chat.css');
@import url('addons/threedetalization.css');
@import url('addons/adaptive_paths.css');
@import url('addons/feedblocks/analytics.css');
@import url('addons/feedblocks/reviews.css');
body{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    margin-left: -1%;
    width: 102%;
    margin-top: 0%;
    margin-bottom: 0%;
}
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    height: 99px;
    background-color: #eff3f4;
    /* position: fixed;
    top: 0;
    z-index: 1; */
    padding-top: 2%;
}
.header > #header_top{
    float: left;
    width: 21%;
    top: -6%;
    left: 13%;
    position: relative;
}
.header > #header_top .ht_header{
    left: 1%;
    position: relative;
}
.header > #header_top .ht_header img{
    width: 30%;
    float: left;
}
.header > #header_top .ht_header span{
    font-size: 88%;
    color: darkgray;
    display: inline-table;
    width: 49%;
    float: right;
    top: -3px;
    right: 70px;
    position: relative;
}
.header > #header_bottom{
    float: right;
    width: 67%;
    top: -51%;
    right: 0%;
    position: relative;
}
.header > #header_bottom .hb_bottom{
    float: left;
}
.header > #header_bottom .hb_bottom header{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}
.header > #header_bottom .hb_bottom header .welcome-link {
	float: left;
	display: inline-block;
	font-size: 86%;
	margin-top: 5%;
	margin-left: 10px;
}
.header > #header_bottom .hb_bottom header .welcome-link a{
    color: #0079bf;
    text-decoration: none;
}
.header > #header_bottom .hb_bottom header .header-informer{
    display: inline;
    float: right;
}
.header > #header_bottom .hb_bottom header .header-informer main {
	display: inline-block;
	margin-left: -12%;
	position: relative;
	top: 33px;
}
.header > #header_bottom .hb_bottom header .header-informer main a {
	display: inline;
	margin-left: 11px;
}
.header > #header_bottom .hb_bottom header .header-informer footer {
	display: inline;
	float: right;
	margin-top: 10%;
	padding-left: 44px;
    width: 53%;
    margin-right: -3%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services{
    display: inline;
    position: relative;
    left: -8%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services div{
    padding-right: 2%;
    display: inline;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services a {
	color: #0079bf;
	font-size: 97%;
	text-decoration: none;
	margin-left: 3%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .menu-show{
    display: inline;
    position: relative;
    left: -8px;
}
.header > #header_bottom .hb_bottom footer{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 9%;
    width: 100%;
}
.header > #header_bottom .hb_bottom footer nav{
    font-size: 92%;
}
.header > #header_bottom .hb_bottom footer nav a{
    display: inline;
    color: #0079bf;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 22px;
    padding-bottom: 1%;
    font-family: 'Open Sans', sans-serif;
}
.header > #header_bottom .hb_bottom footer nav #active{
    border-bottom: solid 2px #0079bf;
}
.main{
    width: 100%;
    height: auto;
}
.main > .section{
    width: 100%;
    height: 764px;
    display: block;
    padding-bottom: 9%;
    padding-top: 6%;
}
.main > .section header{
    color:darkgray;
    font-size: 140%;
    margin-left: 8%;
    padding-top: 2px;
}
.main > .section header hr{
    display: block;
}
.main > .section header h2{
    display: block;
    margin-top: -1px;
    font-size: 136%;
}
.main > .section header strong{
    display: block;
    margin-top: -27px;
    font-size: 77%;
}
.main > .section header a{
    color: #0079bf;
    font-size: 70%;
}
.main > .section header a strong{
    display: inline-table;
}

#promo{ height: 378px; }
#news{ height:106px; padding-top: 10%; }
#investsearch{ height: 470px; }
#services{ height: 108px; padding-top: 41px;}
#analytics{ height: 263px; padding-top: 77px;}
#estate{ height: 124px;padding-top: 37px;}
#reviews{ height: 208px; padding-top: 113px;}
#link-switcher{
    width: 100%;
    background-color: white;
    color: #0079bf;
    height: 7px;
    padding-top: 1%;
    padding-bottom: 2%;
}
#link-switcher > a{
    margin-left: 2%;
    color: #0079bf;
    font-size: 79%;
    text-decoration: none;
    padding-right: 1%;
    position: relative;
    left: 6%;
}
#link-switcher > #delimeter{
    position: relative;
    left: 6%;
}
#link-switcher > a:not(:nth-child(1)){
    margin-left: 0%;
    padding-left: 1%;
}
#link-switcher > a.active{ font-weight: bold; }
#link-switcher > a:hover{
    text-decoration: underline;
}
#news, #investsearch, #eventcalendar, #analytics, #reviews{ background-color: #eff3f4; }

#promo{
    background-image: url('../images/homepage-bg.jpg');
    background-size: cover;
}
#promo > header h2, #promo > header strong{
    color: white;
}
#promo > header a{
    color: white;
}
#promo > header .add-but, #investsearch > header .add-but{
    display: block;
    margin-top: 2%; 
    width: 9%;
    background-color: transparent;
}
#promo > header .add-but{
   color: gray;
   background-color: white;
}
#services > header .add-but, #estate > header .add-but{
    display: block;
    margin-top: 10%;
    width: 39%;
}
#promo > header .links{
    display: inline-table;
    position: relative;
    top: -44px;
    margin-left: 105px;
}
#promo > header a{
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: white;
}
#promo > header a strong{
    text-decoration: underline;
    display: inline-table;
}
#promo > header .marketing-info{
    display: inline-table;
    float:right;
    width: 80%;
    margin-right: -2%;
    margin-top: -12%;
}
#promo > header .marketing-info footer{
    margin-top: 34px;
    margin-left: 0%;
}
#promo > header .marketing-info footer ul{
    color: white;
    list-style-type: none;
    font-size: 60%;
}
#promo > header .marketing-info footer ul li{
    display: inline-block;
    margin-left: 2%;
}
#promo > header .marketing-info header img{
        width:59%;
        border-radius: 10px 10px 10px 10px;
}
#promo > main .promo-feed{
    width: 147%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    float: left;
    margin-left: -23%;
}
#promo > main .promo-feed .promoblock{
    width: 16%;
    display: inline-table;
    background-color: white;
    margin-left: -31%;
    padding-right: 1%;
    margin-top: 2%;
    -webkit-box-shadow: 8px -6px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 8px -6px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 8px -6px 6px 0px rgba(50, 50, 50, 0.75);
}
#promo > main .promo-feed .promoblock:hover{
    cursor: pointer;
}
#promo > main .promo-feed .promoblock:hover header{
    background-color: #0079bf;
}
#promo > main .promo-feed .promoblock header{
    width: 100%;
    background-color:darkgray;
    color: white;
    height: 42px;
    margin-left: 0%;
    text-transform: uppercase;
    padding-top: 3%;
    padding-left: 4%;
}
#promo > main .promo-feed .promoblock header a{
    margin-left: 13px;
    margin-top: 13px;
    color: white;
    text-decoration: none;
}
#promo > main .promo-feed .promoblock header strong{
    display: inline-table;
}
#promo > main .promo-feed .promoblock main .location{
    float: left;
    margin-left: 5%;
    font-size: 112%;
    color: darkgray;
    font-style: italic;
    display: inline-table;
    margin-top: 19%;
    font-family: Times New Roman, serif;
}
#promo > main .promo-feed .promoblock main img{
    width: 36%;
    height: 150px;
    float: right;
    margin-right: 7%;
    display: inline-table;
    object-fit: cover;
    margin-top: 9%;
}
#promo > main .promo-feed .promoblock main{
    display: block;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 4%;
}
#promo > main .promo-feed .promoblock footer{
    width: 100%;
    margin-top: 45%;
    padding-right: 1px;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 2%;
}
#promo > main .promo-feed .promoblock footer .info{
    display: block;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 2%;
}
#promo > main .promo-feed .promoblock footer .info span{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 150%;
    font-weight: bold;
    color: darkgray;
}
#promo > main .promo-feed .promoblock footer .info span:nth-child(1){
    color: black;
}
#promo > main .promo-feed .promoblock footer .info span:nth-child(2){
    font-size: 102%;
    margin-top: -4%;
}


#news > header h2{
    display: inline;
}
#news > header a{
    display: inline;
    margin-left: 1%;
    top: -10px;
    position: relative;
}
#news > main{
    width: 100%;
    margin-top: 2%;
}
#news > main #slider-controller{
    width: 10%;
    display: inline-block;
    position: relative;
}
#news > main header#slider-controller{
    left: -5%;
}
#news > main footer#slider-controller{
    right: -5%;
}
#news > main #slider-controller img{
    width: 18%;
    position: relative;
    top: -137px;
}
#news > main #slider-view{
    width: 71%;
    display: inline-block;
}
#news > main #slider-view .news-feed{
   display: inline-block; 
   margin-left: -17%;
   margin-top: 1%;
}
#news > main #slider-view .news-feed .news{
    display: inline-block;
    width: 31%;
    height: 183px;
    margin-left: 1%;
}
#news > main #slider-view .news-feed .news:nth-child(2){  width: 34%;left: 4%;position: relative;}
#news > main #slider-view .news-feed .news:nth-child(3){  left: 5%;position: relative;width: 31%;}
#news > main #slider-view .news-feed .news a{
    display: block;
    margin-top: 2px;
    color: #0079bf;
    font-size: 102%;
    text-decoration: none;
    font-weight: bold;
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: 0.1em;
    letter-spacing: 0.06em;
}
#news > main #slider-view .news-feed .news .descr{
    display: block;
    margin-top: 8%;
    font-size: 90%;
    height: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2%;
    text-align: justify;
}
#news > main #slider-view .news-feed .news .date{
    display: block;
    margin-top: 11%;
    font-size: 96%;
    font-style: italic;
    color: gray;
    font-family: 'Times New Roman',serif;
    height: 20px;
    margin-top: -6%;
}

#investsearch > header a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 6%;
    position: relative;
    top: -47px;
}
#investsearch > header a strong{
    text-decoration: underline;
}
#investsearch > main .popular-objects{
    width: 139%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    float: left;
    margin-left: -17%;
}
#investsearch > main .popular-objects .popular-object{
    width: 17%;
    display: inline-table;
    background-color: white;
    margin-left: -31%;
}
#investsearch > main .popular-objects .popular-object:hover{
    cursor: pointer;
}
#investsearch > main .popular-objects .popular-object header{
    width: 100%;
    background-color: #0079bf;
    color: white;
    margin-left: 0%;
    padding-bottom: 4%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 4%;
}
#investsearch > main .popular-objects .popular-object header h3{
    margin-left: 4%;
    margin-top: -2px;
    font-size: 93%;
}
#investsearch > main .popular-objects .popular-object main img{
    width: 100%;
    height: 228px;
    object-fit: cover;
}
#investsearch > main .popular-objects .popular-object main{
    display: block;
    width: 106%;
}
#investsearch > main .popular-objects .popular-object footer{
    width: 97%;
    padding-left: 2%;
    padding-right: 8%;
    background-color: white;
    margin-top: -2%;
    padding-bottom: 4%;
    padding-top: 4%;
}
#investsearch > main .popular-objects .popular-object footer .info{
    display: block;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 2%;
}
#investsearch > main .popular-objects .popular-object footer .info span{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 150%;
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(1){
    font-size: calc(170% / 2);
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(2){
    text-transform: uppercase;
    font-weight: bold;
    font-size: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(3){
    font-size: 84%;
    color: darkgray;
    font-style: italic;
}
#investsearch > main .popular-objects .popular-object footer a{
    display: block;
    padding-top: 5%;
    padding-bottom: 3%;
    text-decoration: none;
    color: darkgray;
    text-transform: uppercase;
    margin-left: 2%;
    font-size: 78%;
}




#eventcalendar > main{
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
}
#eventcalendar > main .calendar{
    border-top: solid 1px black;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
#eventcalendar > main .calendar header{
    float: left;
    font-size: calc(152% * 2);
    font-weight: bold;
    display: inline;
    width: 10%;
    margin-left: 4%;
}
#eventcalendar > main .calendar .date{
    position: relative;
    top: 60px;
}
#eventcalendar > main .calendar main{
    display: inline;
    width: 5%;
    margin-left: 3%;
}
#eventcalendar > main .calendar main img{
    margin-left: 2%;
    margin-top: 3%;
    width: 130px;
}
#eventcalendar > main .calendar footer{
    float: right;
    display: inline;
    width: 65%;
    margin-top: 1%;
}
#eventcalendar > main .calendar a{
    text-decoration: none;
    color: #0079bf;
    font-size: 152%;
    display: block;
}
#eventcalendar > main .calendar .event-location{
    font-size: 109%;
    display: block;
    font-style: italic;
}
#eventcalendar > main .calendar .descr{
    font-size: 116%;
    display: block;
}

#services > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#services > header a{
   text-decoration: none;
   text-transform: uppercase;
}
#services > header a strong{
    text-decoration: underline;
 }
#services > main{
    width: 70%;
    float: right;
    display: inline-table;

}
#services > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#services > main #slider-controller img{
    width: 26%;
    position: relative;
    top: -45px;
}
#services > main #slider-view{
    width: 70%;
    display: inline-table;
}
#services > main #slider-view .service-feed{
    display: block;
    margin-left: -12%;
}
#services > main #slider-view .service-feed .service{
    width: 26%;
    height: 230px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
    background-color: white;
}
#services > main #slider-view .service-feed .service header{
    background-color: darkgray;
    color: white;
    text-transform: uppercase;
    width: 102%;
    display: block;
    font-size: 94%;
    float: left;
    margin-left: -1%;
}
#services > main #slider-view .service-feed .service:hover{
    cursor: pointer;
}
#services > main #slider-view .service-feed .service:hover header{
    background-color: #0079bf;
}
#services > main #slider-view .service-feed .service header h3{
    margin-left: 2%;
}
#services > main #slider-view .service-feed .service main{
    width: 100%;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
}
#services > main #slider-view .service-feed .service main img{
    width: 50%;
    object-fit: cover;
    margin-left: 2%;
}
#services > main #slider-view .service-feed .service footer{
    display: block;
    width: 100%;
    font-size: 87%;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#services > main #slider-view .service-feed .service footer .title{
    font-weight: bold;
    display: block;
}
#services > main #slider-view .service-feed .service footer .location{
    color: darkgray;
    font-style: italic;
    font-size: 110%;
    display: block;
}
#services > main #slider-view .service-feed .service footer .descr{
    display: block;
    text-align: justify;
    width: 92%;
}

#analytics > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#analytics > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#analytics > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#analytics > main #slider-controller img{
    width: 26%;
    position: relative;
    top: calc(45px * 2);
}
#analytics > main #slider-view{
    width: 70%;
    display: inline-table;
}
#analytics > main #slider-view .analytic-feed{
   display: block;
   margin-left: -12%;
}
#analytics > main #slider-view .analytic-feed .analytic{
    width: 26%;
    height: 137px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
    padding-bottom: 2%;
    background-color: white;
}
#analytics > main #slider-view .analytic-feed .analytic:hover {
    background-color: #0079bf;
    cursor: pointer;
}
#analytics > main #slider-view .analytic-feed .analytic:hover *, #analytics > main #slider-view .analytic-feed .analytic:hover .descr{
    color: white;
}
#analytics > main #slider-view .analytic-feed .analytic h2{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color: #0079bf;
    font-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 118px;
}
#analytics > main #slider-view .analytic-feed .analytic .descr{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 87%;
    color: darkgray;
}
#analytics > main #slider-view .analytic-feed .analytic a{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color: #0079bf;
    font-size: 100%;
}

#estate > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#estate > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#estate > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#estate > main #slider-controller img{
    width: 26%;
    position: relative;
    top: -116px;
}
#estate > main #slider-view{
    width: 70%;
    display: inline-table;
}
#estate > main #slider-view .estat-feed{
    display: block;
    margin-left: -12%;
}
#estate > main #slider-view .estat-feed .estat{
    width: 26%;
    height: 181px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
    background-color: white;
}
#estate > main #slider-view .estat-feed .estat header{
    background-color: darkgray;
    color: white;
    text-transform: uppercase;
    width: 102%;
    display: block;
    font-size: 78%;
    float: left;
    margin-left: -1%;
}
#estate > main #slider-view .estat-feed .estat:hover{
    cursor: pointer;
}
#estate > main #slider-view .estat-feed .estat:hover header{
    background-color: #0079bf;
}
#estate > main #slider-view .estat-feed .estat header h3{
    margin-left: 2%;
}
#estate > main #slider-view .estat-feed .estat main{
    width: 100%;
    float: left;
}
#estate > main #slider-view .estat-feed .estat main img{
    width: 100%;
    object-fit: cover;
    height: 153px;
}
#estate > main #slider-view .estat-feed .estat:hover main img, #investsearch > main .popular-objects .popular-object:hover main img{
    transform: scale(1.2);
}
#estate > main #slider-view .estat-feed .estat footer{
	display: block;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
}
#estate > main #slider-view .estat-feed .estat footer .info, #estate > main #slider-view .estat-feed .estat footer .raiting{
	display: block;
	margin-left: 2%;
	padding-top: 0%;
	padding-bottom: 0%;
}
#estate > main #slider-view .estat-feed .estat footer .info span{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 94%;
    color: darkgray;
    display: block;
}
#estate > main #slider-view .estat-feed .estat footer .info span:nth-child(1){
    font-size: 105%;
    color:black;
    font-weight: bold;
}
.raiting{
    margin-left: 2%;
    padding-bottom: 6%;
    padding-top: 9%;
}
.raiting > span{
    display: block;
    margin-top: 2%;
    color: #0079bf;
    font-size: 80%;
    text-transform: uppercase;
}

.rating-mini {
	display: block;
    font-size: 0;
    margin-top: 2%;
}
.rating-mini span {
	padding: 0;
	font-size: 19px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}


#reviews > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#reviews > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#reviews > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#reviews > main #slider-controller img{
    width: 26%;
    position: relative;
    top: 45px;
}
#reviews > main #slider-view{
    width: 70%;
    display: inline-table;
}
#reviews > main #slider-view .review-feed{
   display: block;
   margin-left: -11%;
}
#reviews > main #slider-view .review-feed .review{
    width: 27%;
    height: 204px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 5%;
    padding-bottom: 2%;
    background-color: white;
}
#reviews > main #slider-view .review-feed .review main h3{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color:#0079bf;
    font-size: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 147px;
}
#reviews > main #slider-view .review-feed .review footer a{
    margin-left: 1%;
    margin-top: 1%;
    color: #0079bf;
    font-size: 100%;
}

.footer{
    width: 100%;
    height: calc(197px * 2);
    background-color:#9da5a7;
    color: white;
}
.footer > header #contact a, .footer > main #category_menu .catname{
    text-decoration: none;
    color: white;
}
.footer > header {
    float: left;
    display: inline;
    margin-left: 8%;
    width: 20%;
    position: relative;
    top: 50px;
    font-size: 98%;
}
.footer > header .logo{
    float: left;
}
.footer > header .logo img{
    width: 79%;
 }
.footer > header span{
    float: right;
    font-size: 64%;
    display: contents;
}
.footer > header main{
    display: block;
    position: relative;
    top: 68px;
    left: -111px;
    width: 129%;
}
.footer > header main a{
    padding-top: 8px;
    margin-left: 1%;
    background-color: #65696b;
    display: inline;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.footer > header main a img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer > main {
    float: right;
    display: inline-table;
    margin-right: -13%;
    width: 80%;
    position: relative;
    top: 5%;
}
.footer > main #category_menu {
	display: inline-block;
	padding-left: 10px;
	padding-right: 5%;
}
.footer > main #category_menu .catname {
	font-size: 134%;
	font-weight: 700;
}
.footer > main #category_menu ul {
	display: block;
	margin-top: 20px;
	font-size: 100%;
	margin-left: -28px;
	list-style-type: square;
}
.footer > main #category_menu ul li {
	padding-bottom: 13px;
}
.footer > main #category_menu ul li a {
	color: white;
	text-decoration: none;
}
@media all and (min-width:1024px) and (max-width: 1280px){
    .header > #header_top {
        top: 4%;
    }
    .header > #header_top .ht_header {
        left: -24%;
        top: 19%;
        position: relative;
        float: left;
    }
    .header > #header_top .ht_header span {
        font-size: 73%;
        color: darkgray;
        display: block;
        width: 71%;
        float: right;
        top: -56px;
        right: -20px;
    }
    .header > #header_bottom {
        float: right;
        width: 77%;
        top: -86%;
        right: -10%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom footer nav a {
        margin-left: 12px;
        margin-right: 8px;
    }
    .header > #header_bottom .hb_bottom header .header-informer footer {
        display: inline;
        float: right;
        margin-top: 16%;
        padding-left: 44px;
        width: 50%;
        margin-right: -9%;
    }
    .header > #header_bottom .hb_bottom header .header-informer main {
        display: inline-block;
        margin-left: -6%;
        margin-top: 6%;
    }
    .header > #header_bottom .hb_bottom footer nav {
        font-size: 73%;
    }
    #promo {
        height: 317px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -2%;
        margin-top: 1%;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: -10%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 95%;
    }
    #investsearch {
        height: 527px;
        padding-top: 8%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 75%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #services {
        height: 109px;
        padding-top: 3%;
    }
    #services > main #slider-controller img {
        width: 44%;
        top: 2px;
    }
    #services > main #slider-view .service-feed .service header {
        font-size: 53%;
    }
    #services > main #slider-view .service-feed .service footer .title {
        font-size: 85%;
    }
    #services > main #slider-view .service-feed .service footer .location {
        font-size: 67%;
    }
    #services > main #slider-view .service-feed .service footer .descr {
        font-size: 68%;
    }
    #analytics > main #slider-view .analytic-feed .analytic {
        height: 137px;
    }
    #analytics > main #slider-controller img {
        width: 40%;
        top: 27px;
    }
    #analytics > main #slider-view .analytic-feed .analytic h2 {
        font-size: 93%;
    }
    #analytics > main #slider-view .analytic-feed .analytic .descr {
        display: none;
    }
    #estate {
        height: 187px;
    }
    #estate > main #slider-controller img {
        width: 42%;
        top: -27px;
    }
    #estate > main #slider-view .estat-feed .estat {
        height: 181px;
    }
    #estate > main #slider-view .estat-feed .estat header {
        font-size: 68%;
    }
    #reviews > main #slider-view .review-feed .review main h3 {
        font-size: 84%;
    }
    #reviews > main #slider-controller img {
        width: 48%;
        top: 34px;
    }
    #promo > main .promo-feed .promoblock footer .info {
        margin-top: 47%;
    }
    .rating-mini span {
        font-size: 23px;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 61px;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 149px;
    }
    .footer > main #category_menu .catname {
        font-size: 100%;
    }
    .footer > main #category_menu ul {
        font-size: 63%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 11%;
    }
    #promo > header .links {
        margin-left: 10%;
        top: -46px;
    }
    #promo > header .marketing-info {
        margin-top: -18%;
        width: 81%;
        margin-right: -11%;
    }
    #promo > header .marketing-info header img{
        width:72%;
    }
    #investsearch > header a {
        margin-left: 108px;
        top: -42px;
        position: relative;
    }
    #eventcalendar > main .calendar footer {
        margin-top: 1%;
        font-size: 83%;
    }
    #eventcalendar > main .calendar main img {
        margin-left: 4%;
        margin-top: 6%;
        width: 87px;
    }
}
@media all and (min-width:1280px) and (max-width: 1366px){
    .header > #header_top .ht_header {
        left: -28%;
        top: 9%;
        position: relative;
    }
    .header > #header_top .ht_header span {
        font-size: 79%;
        color: darkgray;
        display: block;
        width: 53%;
        float: right;
        top: -3px;
        right: 26px;
    }
    .header > #header_bottom {
        float: right;
        width: 61%;
        top: -51%;
        right: 2%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom footer nav a {
        margin-left: 6px;
        margin-right: 15px;
    }
    .header > #header_bottom .hb_bottom header .header-informer footer {
        margin-top: 2%;
        padding-left: 44px;
        margin-right: -9%;
    }
    .header > #header_bottom .hb_bottom header .header-informer main {
        display: inline-block;
        margin-left: -12%;
        top: 8px;
    }
    .header > #header_bottom .hb_bottom footer nav {
        font-size: 79%;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -1%;
        margin-top: 2%;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 4%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 101%;
    }
    #investsearch {
        height: 554px;
        padding-top: 26%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 102%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #promo {
        height: 354px;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: -12%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 101%;
    }
    #investsearch {
        height: 521px;
        padding-top: 3%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 74%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #services {
        height: 84px;
        padding-top: 4%;
    }
    #services > main #slider-controller img {
        width: 44%;
        top: 2px;
    }
    #services > main #slider-view .service-feed .service header {
        font-size: 64%;
    }
    #services > main #slider-view .service-feed .service footer .title {
        font-size: 74%;
    }
    #services > main #slider-view .service-feed .service footer .location {
        font-size: 76%;
    }
    #services > main #slider-view .service-feed .service footer .descr {
        font-size: 70%;
    }
    #analytics > main #slider-view .analytic-feed .analytic {
        height: 137px;
    }
    #analytics > main #slider-controller img {
        width: 40%;
        top: 27px;
    }
    #analytics > main #slider-view .analytic-feed .analytic h2 {
        font-size: 97%;
    }
    #analytics > main #slider-view .analytic-feed .analytic .descr {
        display: none;
    }
    #estate {
        height: 163px;
    }
    #estate > main #slider-controller img {
        width: 42%;
        top: -27px;
    }
    #estate > main #slider-view .estat-feed .estat {
        height: 181px;
    }
    #estate > main #slider-view .estat-feed .estat header {
        font-size: 64%;
    }
    #reviews > main #slider-view .review-feed .review main h3 {
        font-size: 95%;
    }
    #reviews > main #slider-controller img {
        width: 48%;
        top: 34px;
    }
    #promo > main .promo-feed .promoblock footer .info {
        margin-top: 47%;
    }
    .rating-mini span {
        font-size: 23px;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 74px;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 149px;
    }
    .footer > main #category_menu .catname {
        font-size: 100%;
    }
    .footer > main #category_menu ul {
        font-size: 63%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
    #promo > header .links {
        margin-left: 125px;
        top: -46px;
    }
    #promo > header .marketing-info {
        margin-top: -18%;
        margin-right: -7%;
    }
    #investsearch > header a {
        margin-left: 126px;
        margin-top: 20px;
    }
    #eventcalendar > main .calendar footer {
        margin-top: 2%;
        font-size: 87%;
    }
    #promo > header .marketing-info header img{
        margin-top: 5%;
        width:84%;
    }
    #eventcalendar > main .calendar .date {
        top: 48px;
    }
    #eventcalendar > main .calendar main img {
        margin-left: 5%;
        margin-top: 4%;
        width: 88px;
    }
}
@media all and (min-width:1366px) and (max-width: 1400px){
    .header > #header_top .ht_header {
        margin-left: -26%;
        top: 22%;
        position: relative;
    }
    .header > #header_top .ht_header span {
        font-size: 90%;
        width: 60%;
        float: right;
        top: -1px;
        right: 7px;
    }
    .header > #header_bottom {
        float: right;
        width: 63%;
        top: -53%;
        right: 2%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom footer nav a {
        margin-left: 5px;
        margin-right: 15px;
    }
    .header > #header_bottom .hb_bottom header .header-informer footer {
        margin-top: 3%;
        padding-left: 44px;
        margin-right: -9%;
    }
    .header > #header_bottom .hb_bottom header .header-informer main {
        display: inline-block;
        margin-left: -12%;
        top: 11px;
    }
    #promo {
        height: 361px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -1%;
        margin-top: 4%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 75px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 33%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 104%;
    }
    #investsearch {
        height: 475px;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 64%;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 194px;
    }
    .footer > main #category_menu .catname {
        font-size: 110%;
    }
    .footer > main #category_menu ul {
        font-size: 83%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
    #promo > header .links {
        margin-left: 134px;
        top: -47px;
    }
    #promo > header .marketing-info {
        margin-top: -16%;
        margin-right: -5%;
    }
    #investsearch > header a {
        margin-left: 133px;
        margin-top: 19px;
    }
    #eventcalendar > main .calendar footer {
        margin-top: 1%;
        font-size: 92%;
    }
    #promo > header .marketing-info header img{
        width:72%;
    }
    #promo > header .marketing-info header img{
        margin-top: 5%;
        width:87%;
    }
    #eventcalendar > main .calendar .date {
        top: 45px;
    }
    #eventcalendar > main .calendar main img {
        margin-left: 4%;
        margin-top: 3%;
        width: 100px;
    }
}
@media all and (min-width:1400px) and (max-width: 1600px){
    .header > #header_top .ht_header {
        left: -25%;
        position: relative;
        top: 10%;
    }
    .header > #header_top .ht_header span {
        font-size: 82%;
        width: 53%;
        float: right;
        top: -3px;
        right: 47px;
    }
    .header > #header_bottom {
        float: right;
        width: 62%;
        top: -64%;
        right: 1%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom footer nav a {
        margin-left: 6px;
        margin-right: 17px;
    }
    .header > #header_bottom .hb_bottom header .header-informer footer {
        margin-top: 8%;
        padding-left: 44px;
        margin-right: -5%;
    }
    .header > #header_bottom .hb_bottom header .header-informer main {
        display: inline-block;
        margin-left: -12%;
        top: 27px;
    }
    .header > #header_bottom .hb_bottom footer nav {
        font-size: 87%;
    }
    #promo {
        height: 336px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -1%;
        margin-top: 0%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 79px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 33%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 106%;
    }
    #investsearch {
        height: 430px;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 79%;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 194px;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 6%;
    }
    #promo > header .links {
        margin-left: 140px;
        top: -44px;
    }
    #promo > header .marketing-info {
        margin-top: -11%;
        margin-right: -8%;
    }
    #investsearch > header a {
        margin-left: 10%;
        margin-top: 18px;
    }
    #eventcalendar > main .calendar footer {
        margin-top: 1%;
        font-size: 92%;
    }
    #promo > header .marketing-info header img {
        width: 79%;
    }
    #eventcalendar > main .calendar main img {
        margin-left: 4%;
        margin-top: 3%;
        width: 106px;
    }
    #eventcalendar > main .calendar .date {
        top: 44px;
    }
}
@media all and (min-width:1600px) and (max-width: 1800px){
    .header > #header_top .ht_header span {
        top: -1px;
        right: 46px;
        font-size: 92%;
        float: right;
    }
    #promo {
        height: 346px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -1%;
        margin-top: 0%;
    }
    #investsearch > main .popular-objects{
        margin-top: 3%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 85px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 33%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 116%;
    }
    #investsearch {
        height: 509px;
        padding-top: 4%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 79%;
    }
    .header > #header_top{
        top: -6%;
        left: 13%;
        position: relative;
    }
    .header > #header_top .ht_header {
        left: -24%;
    }
    .header > #header_bottom{
        top: -74%;
        right: -2%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 6%;
    }
    #promo > header .links {
        margin-left: 149px;
        top: -46px;
    }
    #promo > header .marketing-info {
        margin-top: -10%;
        margin-right: -11%;
    }
    #investsearch > header a {
        margin-left: 150px;
        margin-top: 18px;
    }
    #eventcalendar > main .calendar footer {
        margin-top: 1%;
        font-size: 100%;
    }
    #promo > header .marketing-info header img {
        width: 75%;
    }
    #eventcalendar > main .calendar main img {
        margin-left: 4%;
        margin-top: 3%;
        width: 110px;
    }
    #eventcalendar > main .calendar .date {
        top: 48px;
    }
}
@media all and (min-width:1024px) and (max-width: 1100px){
    #promo > header .marketing-info {
        width: 82%;
        margin-right: -5%;
        margin-top: -15%;
    }
    #promo > header .marketing-info header img {
        width: 82%;
    }
}
@media all and (min-width:1100px) and (max-width: 1181px){
    #promo > header .marketing-info {
        width: 87%;
        margin-right: -10%;
        margin-top: -14%;
    }
    #promo > header .marketing-info header img {
        width: 79%;
    }
}
@media all and (min-width:1181px) and (max-width: 1280px){
    #promo > header .marketing-info {
        width: 100%;
        margin-right: -23%;
        margin-top: -14%;
    }
    #promo > header .marketing-info header img {
        width: 67%;
    }
}
.promo-header{
    top: 3vw;
    position: relative;
}