@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');
@import url('fontawesome/css/all.css');
@import url('addons/lightbox.css');
@import url('addons/docsicon.css');
@import url('addons/video-player.css');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    height: 132px;
    background-color: rgb(236, 234, 234);
    /* position: fixed;
    top: 0;
    z-index: 1; */
    padding-top: 2%;
}
.header > #header_top{
    float: left;
    width: 21%;
    top: 12%;
    left: 8%;
    position: relative;
}
.header > #header_top .ht_header{
    left: 1%;
    position: relative;
}
.header > #header_top .ht_header img{
    width: 30%;
    float: left;
}
.header > #header_top .ht_header span{
    font-size: 115%;
    color: darkgray;
    display: inline-table;
    width: 49%;
    float: right;
    margin-top: 12%;
}
.header > #header_bottom{
    float: right;
    width: 69%;
    margin-top: 0px;
    margin-right: 0%;
}
.header > #header_bottom .hb_bottom{
    float: right;
}
.header > #header_bottom .hb_bottom header{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}
.header > #header_bottom .hb_bottom header .welcome-link {
	float: left;
	display: inline-block;
	font-size: 86%;
	margin-top: 5%;
	margin-left: 10px;
}
.header > #header_bottom .hb_bottom header .welcome-link a{
    color: gray;
    text-decoration: none;
}
.header > #header_bottom .hb_bottom header .header-informer{
    display: inline;
    float: right;
}
.header > #header_bottom .hb_bottom header .header-informer main {
	display: inline-block;
	margin-left: -12%;
	position: relative;
	top: 9px;
}
.header > #header_bottom .hb_bottom header .header-informer main a {
	display: inline;
	margin-left: 11px;
}
.header > #header_bottom .hb_bottom header .header-informer footer {
	display: inline;
	float: right;
	margin-top: 1px;
	padding-left: 44px;
    width: 53%;
    margin-right: -9%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services{
    display: inline;
    position: relative;
    left: -8%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services div{
    padding-right: 2%;
    display: inline;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services a {
	color: gray;
	font-size: 97%;
	text-decoration: none;
	margin-left: 3%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .menu-show{
    display: inline;
    position: relative;
    left: -8px;
}
.header > #header_bottom .hb_bottom footer{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 9%;
    width: 100%;
}
.header > #header_bottom .hb_bottom footer nav{
    font-size: 89%;
}
.header > #header_bottom .hb_bottom footer nav a{
    display: inline;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-left: 11px;
    margin-right: 4px;
    padding-bottom: 1%;
}
.header > #header_bottom .hb_bottom footer nav #active{
    border-bottom: solid 2px dodgerblue;
}
.main{
    width: 100%;
    height: auto;
}
.main > .section{
    width: 100%;
    height: 880px;
    display: block;
    padding-bottom: 9%;
    padding-top: 5%;
}
.main > .section header{
    color:darkgray;
    font-size: 140%;
    margin-left: 8%;
    padding-top: 2px;
}
.main > .section header hr{
    display: block;
}
.main > .section header h2{
    display: block;
    margin-top: 2%;
    font-size: 136%;
}
.main > .section header strong{
    display: block;
    margin-top: -1%;
    font-size: 77%;
}
.main > .section header a{
    color: dodgerblue;
    font-size: 56%;
}
.main > .section header a strong{
    display: inline-table;
}

#promo{ height: 760px; }
#news{ height:251px; }
#investsearch{ height: 470px; }
#services{ height: 250px; }
#analytics{ height: 245px; }
#estate{ height: 200px;}
#reviews{ height: 252px; }
#link-switcher{
    width: 100%;
    background-color: white;
    color: dodgerblue;
    height: 7px;
    padding-top: 1%;
    padding-bottom: 2%;
}
#link-switcher > a{
    margin-left: 7%;
    color: dodgerblue;
    font-size: 90%;
    text-decoration: none;
    padding-right: 1%;
}
#link-switcher > a:not(:nth-child(1)){
    margin-left: 0%;
    padding-left: 1%;
}
#link-switcher > a.active{ font-weight: bold; }
#link-switcher > a:hover{
    text-decoration: underline;
}
#news, #investsearch, #eventcalendar, #analytics, #reviews{ background-color: #ece2e2; }

#promo{
    background-color: #21214b;
}
#promo > .section header h2, #promo > .section header strong{
    color: white;
}
#promo > .section header a{
    color: white;
}
#promo > main .promo-feed{
    width: 126%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    float: left;
    margin-left: -23%;
}
#promo > main .promo-feed .promoblock{
    width: 20%;
    display: inline-table;
    background-color: white;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 2%;
}
#promo > main .promo-feed .promoblock:hover{
    cursor: pointer;
}
#promo > main .promo-feed .promoblock:hover header{
    background-color: dodgerblue;
}
#promo > main .promo-feed .promoblock header{
    width: 100%;
    background-color:darkgray;
    color: white;
    height: 42px;
    margin-left: 0%;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 3%;
}
#promo > main .promo-feed .promoblock header a{
    margin-left: 2%;
    margin-top: 13px;
    color: white;
    text-decoration: none;
    margin-left: 4%;
}
#promo > main .promo-feed .promoblock header strong{
    display: inline-table;
}
#promo > main .promo-feed .promoblock main .location{
    float: left;
    margin-left: 2%;
    font-size: 112%;
    color: darkgray;
    font-style: italic;
    display: inline-table;
    margin-top: 19%;
    font-family: Times New Roman, serif;
}
#promo > main .promo-feed .promoblock main img{
    width: 50%;
    height: 150px;
    float: right;
    margin-right: 7%;
    display: inline-table;
    object-fit: cover;
    margin-top: 5%;
}
#promo > main .promo-feed .promoblock main{
    display: block;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 2%;
}
#promo > main .promo-feed .promoblock footer{
    width: 100%;
    margin-top: 45%;
}
#promo > main .promo-feed .promoblock footer .info{
    display: block;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 2%;
}
#promo > main .promo-feed .promoblock footer .info span{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 150%;
    font-weight: bold;
    color: darkgray;
}
#promo > main .promo-feed .promoblock footer .info span:nth-child(1){
    color: black;
}
#promo > main .promo-feed .promoblock footer .info span:nth-child(2){
    font-size: 102%;
}


#news > header h2{
    display: inline;
}
#news > header a{
    display: inline;
    margin-left: 2%;
}
#news > main{
    width: 90%;
    margin-left: 6%;
    margin-top: 2%;
}
#news > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#news > main #slider-controller img{
    width: 30%;
    position: relative;
    top: 80px;
}
#news > main #slider-view{
    width: 65%;
    display: inline-table;
}
#news > main #slider-view .news-feed{
   display: block; 
   margin-left: -8%;
}
#news > main #slider-view .news-feed .news{
    display: inline-table;
    width: 30%;
    margin-left: 2%;
}
#news > main #slider-view .news-feed .news a{
    display: block;
    margin-top: 2px;
    color: dodgerblue;
    font-size: 109%;
    text-decoration: none;
}
#news > main #slider-view .news-feed .news .descr{
    display: block;
    margin-top: 4px;
    font-size: 88%;
}
#news > main #slider-view .news-feed .news .date{
    display: block;
    margin-top: 4px;
    font-size: 85%;
    font-style: italic;
}

#investsearch > header a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 6%;
    position: relative;
    top: -47px;
}
#investsearch > header a strong{
    text-decoration: underline;
}
#investsearch > main .popular-objects{
    width: 119%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    float: left;
    margin-left: -17%;
}
#investsearch > main .popular-objects .popular-object{
    width: 19%;
    display: inline-table;
    background-color: white;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 3%;
}
#investsearch > main .popular-objects .popular-object:hover{
    cursor: pointer;
}
#investsearch > main .popular-objects .popular-object header{
    width: 100%;
    background-color: dodgerblue;
    color: white;
    height: 37px;
    margin-left: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#investsearch > main .popular-objects .popular-object header h3{
    margin-left: 4%;
    margin-top: -2px;
    font-size: 93%;
}
#investsearch > main .popular-objects .popular-object main img{
    width: 100%;
    height: 228px;
    object-fit: cover;
}
#investsearch > main .popular-objects .popular-object main{
    display: block;
    width: 100%;
}
#investsearch > main .popular-objects .popular-object footer{
    width: 100%;
}
#investsearch > main .popular-objects .popular-object footer .info{
    display: block;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 2%;
}
#investsearch > main .popular-objects .popular-object footer .info span{
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 150%;
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(1){
    font-size: calc(170% / 2);
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(2){
    text-transform: uppercase;
    font-weight: bold;
    font-size: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}
#investsearch > main .popular-objects .popular-object footer .info span:nth-child(3){
    font-size: 84%;
    color: darkgray;
    font-style: italic;
}
#investsearch > main .popular-objects .popular-object footer a{
    display: block;
    padding-top: 2%;
    padding-bottom: 3%;
    text-decoration: none;
    color: darkgray;
    text-transform: uppercase;
    margin-left: 2%;
    font-size: 78%;
}




#eventcalendar > main{
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
}
#eventcalendar > main .calendar{
    border-top: solid 1px black;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
#eventcalendar > main .calendar header{
    float: left;
    font-size: calc(114% * 2);
    font-weight: bold;
    display: inline;
    width: 10%;
    color: black;
}
#eventcalendar > main .calendar .date{
    position: relative;
    top: 60px;
}
#eventcalendar > main .calendar main{
    display: inline;
    width: 5%;
}
#eventcalendar > main .calendar footer{
    float: right;
    display: inline;
    width: 65%;
    margin-top: 1%;
}
#eventcalendar > main .calendar a{
    text-decoration: none;
    color: dodgerblue;
    font-size: 152%;
    display: block;
}
#eventcalendar > main .calendar .event-location{
    font-size: 109%;
    display: block;
    font-style: italic;
}
#eventcalendar > main .calendar .descr{
    font-size: 116%;
    display: block;
}

#services > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#services > header a{
   text-decoration: none;
   text-transform: uppercase;
}
#services > header a strong{
    text-decoration: underline;
 }
#services > main{
    width: 70%;
    float: right;
    display: inline-table;

}
#services > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#services > main #slider-controller img{
    width: 30%;
    position: relative;
    top: -11px;
}
#services > main #slider-view{
    width: 70%;
    display: inline-table;
}
#services > main #slider-view .service-feed{
    display: block;
    margin-left: -12%;
}
#services > main #slider-view .service-feed .service{
    width: 26%;
    height: 230px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
}
#services > main #slider-view .service-feed .service header{
    background-color: darkgray;
    color: white;
    text-transform: uppercase;
    width: 102%;
    display: block;
    font-size: 94%;
    float: left;
    margin-left: -1%;
}
#services > main #slider-view .service-feed .service:hover{
    cursor: pointer;
}
#services > main #slider-view .service-feed .service:hover header{
    background-color: dodgerblue;
}
#services > main #slider-view .service-feed .service header h3{
    margin-left: 2%;
}
#services > main #slider-view .service-feed .service main{
    width: 100%;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
}
#services > main #slider-view .service-feed .service main img{
    width: 50%;
    object-fit: cover;
    margin-left: 2%;
}
#services > main #slider-view .service-feed .service footer{
    display: block;
    width: 100%;
    font-size: 86%;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#services > main #slider-view .service-feed .service footer .title{
    font-weight: bold;
    display: block;
}
#services > main #slider-view .service-feed .service footer .location{
    color: darkgray;
    font-style: italic;
    font-size: 110%;
    display: block;
}
#services > main #slider-view .service-feed .service footer .descr{
    display: block;
}





#analytics > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#analytics > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#analytics > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#analytics > main #slider-controller img{
    width: 30%;
    position: relative;
    top: 125px;
}
#analytics > main #slider-view{
    width: 70%;
    display: inline-table;
}
#analytics > main #slider-view .analytic-feed{
   display: block;
   margin-left: -12%;
}
#analytics > main #slider-view .analytic-feed .analytic{
    width: 26%;
    height: 137px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
    padding-bottom: 2%;
    background-color: white;
}
#analytics > main #slider-view .analytic-feed .analytic:hover {
    background-color: dodgerblue;
    cursor: pointer;
}
#analytics > main #slider-view .analytic-feed .analytic:hover *, #analytics > main #slider-view .analytic-feed .analytic:hover .descr{
    color: white;
}
#analytics > main #slider-view .analytic-feed .analytic h2{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color: dodgerblue;
    font-size: 122%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 118px;
}
#analytics > main #slider-view .analytic-feed .analytic .descr{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 87%;
    color: darkgray;
}
#analytics > main #slider-view .analytic-feed .analytic a{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color: dodgerblue;
    font-size: 100%;
}

#estate > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#estate > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#estate > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#estate > main #slider-controller img{
    width: 30%;
    position: relative;
    top: -58px;
}
#estate > main #slider-view{
    width: 70%;
    display: inline-table;
}
#estate > main #slider-view .estat-feed{
    display: block;
    margin-left: -12%;
}
#estate > main #slider-view .estat-feed .estat{
    width: 26%;
    height: 181px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 6%;
}
#estate > main #slider-view .estat-feed .estat header{
    background-color: darkgray;
    color: white;
    text-transform: uppercase;
    width: 102%;
    display: block;
    font-size: 78%;
    float: left;
    margin-left: -1%;
}
#estate > main #slider-view .estat-feed .estat:hover{
    cursor: pointer;
}
#estate > main #slider-view .estat-feed .estat:hover header{
    background-color: dodgerblue;
}
#estate > main #slider-view .estat-feed .estat header h3{
    margin-left: 2%;
}
#estate > main #slider-view .estat-feed .estat main{
    width: 100%;
    float: left;
}
#estate > main #slider-view .estat-feed .estat main img{
    width: 100%;
    object-fit: cover;
    height: 153px;
}
#estate > main #slider-view .estat-feed .estat:hover main img{
    transform: scale(1.2);
}
#estate > main #slider-view .estat-feed .estat footer{
	display: block;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
}
#estate > main #slider-view .estat-feed .estat footer .info, #estate > main #slider-view .estat-feed .estat footer .raiting{
	display: block;
	margin-left: 2%;
	padding-top: 0%;
	padding-bottom: 0%;
}
#estate > main #slider-view .estat-feed .estat footer .info span{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 94%;
    color: darkgray;
    display: block;
}
#estate > main #slider-view .estat-feed .estat footer .info span:nth-child(1){
    font-size: 105%;
    color:black;
    font-weight: bold;
}
.raiting{
    margin-left: 2%;
    padding-bottom: 3%;
}
.raiting > span{
    display: block;
    margin-top: 2%;
    color: dodgerblue;
    font-size: 80%;
    text-transform: uppercase;
}

.rating-mini {
	display: block;
    font-size: 0;
    margin-top: 2%;
}
.rating-mini span {
	padding: 0;
	font-size: 19px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}


#reviews > header{
    width: 20%;
    float: left;
    display: inline-table;
}
#reviews > main{
    width: 70%;
    float: right;
    display: inline-table;
}
#reviews > main #slider-controller{
    width: 10%;
    display: inline-table;
}
#reviews > main #slider-controller img{
    width: 30%;
    position: relative;
    top: 97px;
}
#reviews > main #slider-view{
    width: 70%;
    display: inline-table;
}
#reviews > main #slider-view .review-feed{
   display: block;
   margin-left: -11%;
}
#reviews > main #slider-view .review-feed .review{
    width: 25%;
    height: 204px;
    display: inline-table;
    box-shadow: 3px -1px 11px 3px darkgray;
    margin-left: 7%;
    padding-bottom: 2%;
    background-color: white;
}
#reviews > main #slider-view .review-feed .review main h3{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
    color:dodgerblue;
    font-size: 113%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 147px;
}
#reviews > main #slider-view .review-feed .review footer a{
    margin-left: 1%;
    margin-top: 1%;
    color: dodgerblue;
    font-size: 100%;
}

.footer{
    width: 100%;
    height: calc(197px * 2);
    background-color:#9da5a7;
    color: white;
}
.footer > header #contact a, .footer > main #category_menu .catname{
    text-decoration: none;
    color: white;
}
.footer > header {
    float: left;
    display: inline;
    margin-left: 8%;
    width: 20%;
    position: relative;
    top: 50px;
    font-size: 98%;
}
.footer > header .logo{
    float: left;
}
.footer > header .logo img{
    width: 79%;
 }
.footer > header span{
    float: right;
    font-size: 64%;
    display: contents;
}
.footer > header main{
    display: block;
    position: relative;
    top: 68px;
    left: -111px;
    width: 129%;
}
.footer > header main a{
    border: solid 2px white;
    padding: 3px;
    margin-left: 1%;
    background-color: black;
    display: inline;
}
.footer > header main a img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.footer > main {
    float: right;
    display: inline-table;
    margin-right: -13%;
    width: 80%;
    position: relative;
    top: 5%;
}
.footer > main #category_menu {
	display: inline-block;
	padding-left: 10px;
	padding-right: 5%;
}
.footer > main #category_menu .catname {
	font-size: 134%;
	font-weight: 700;
}
.footer > main #category_menu ul {
	display: block;
	margin-top: 20px;
	font-size: 100%;
	margin-left: -28px;
	list-style-type: square;
}
.footer > main #category_menu ul li {
	padding-bottom: 13px;
}
.footer > main #category_menu ul li a {
	color: white;
	text-decoration: none;
}
@media all and (min-width:1024px) and (max-width: 1280px){
    .header > #header_top .ht_header {
        left: -3%;
        top: -8%;
        position: relative;
        float: left;
    }
    .header > #header_top .ht_header span {
        font-size: 77%;
        color: darkgray;
        display: block;
        width: 71%;
        float: right;
        margin-top: -21%;
        left: 25%;
        position: relative;
    }
    .header > #header_bottom {
        float: right;
        width: 79%;
        top: -51%;
        right: 4%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom header .header-informer footer {
        display: inline;
        float: right;
        margin-top: 21%;
        padding-left: 44px;
        width: 50%;
        margin-right: -9%;
    }
    .header > #header_bottom .hb_bottom header .header-informer main {
        display: inline-block;
        margin-left: -11%;
        margin-top: 19%;
    }
    .header > #header_bottom .hb_bottom footer nav {
        font-size: 78%;
    }
    #promo {
        height: 567px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -11%;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 4%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 95%;
    }
    #investsearch {
        height: 554px;
        padding-top: 6%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 75%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #services {
        height: 250px;
        padding-top: 1%;
    }
    #services > main #slider-controller img {
        width: 44%;
        top: 2px;
    }
    #services > main #slider-view .service-feed .service header {
        font-size: 53%;
    }
    #services > main #slider-view .service-feed .service footer .title {
        font-size: 85%;
    }
    #services > main #slider-view .service-feed .service footer .location {
        font-size: 67%;
    }
    #services > main #slider-view .service-feed .service footer .descr {
        font-size: 68%;
    }
    #analytics > main #slider-view .analytic-feed .analytic {
        height: 137px;
    }
    #analytics > main #slider-controller img {
        width: 40%;
        top: 27px;
    }
    #analytics > main #slider-view .analytic-feed .analytic h2 {
        font-size: 93%;
    }
    #analytics > main #slider-view .analytic-feed .analytic .descr {
        display: none;
    }
    #estate {
        height: 249px;
    }
    #estate > main #slider-controller img {
        width: 42%;
        top: -27px;
    }
    #estate > main #slider-view .estat-feed .estat {
        height: 181px;
    }
    #estate > main #slider-view .estat-feed .estat header {
        font-size: 68%;
    }
    #reviews > main #slider-view .review-feed .review main h3 {
        font-size: 84%;
    }
    #reviews > main #slider-controller img {
        width: 48%;
        top: 34px;
    }
    #promo > main .promo-feed .promoblock footer .info {
        margin-top: 47%;
    }
    .rating-mini span {
        font-size: 23px;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 99px;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 149px;
    }
    .footer > main #category_menu .catname {
        font-size: 100%;
    }
    .footer > main #category_menu ul {
        font-size: 63%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 12%;
    }
}
@media all and (min-width:1280px) and (max-width: 1366px){
    .header > #header_top .ht_header {
        left: -2%;
        top: -12%;
        position: relative;
    }
    .header > #header_top .ht_header span {
        font-size: 88%;
        color: darkgray;
        display: block;
        width: 53%;
        float: right;
        top: -19px;
        left: 5%;
        position: relative;
    }
    .header > #header_bottom {
        float: right;
        width: 83%;
        top: -88%;
        right: 8%;
        position: relative;
    }
    #promo {
        height: 531px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -11%;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 4%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 101%;
    }
    #investsearch {
        height: 554px;
        padding-top: 26%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 102%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #promo {
        height: 557px;
    }
    #promo > main .promo-feed .promoblock header {
        height: 34px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 4%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 101%;
    }
    #investsearch {
        height: 521px;
        padding-top: 4%;
        padding-bottom: 0%;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 24px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 58%;
    }
    #investsearch > main .popular-objects .popular-object footer .info span:nth-child(2) {
        font-size: 74%;
    }
    #investsearch > main .popular-objects .popular-object footer a {
        font-size: 73%;
    }
    #services {
        height: 250px;
        padding-top: 3%;
    }
    #services > main #slider-controller img {
        width: 44%;
        top: 2px;
    }
    #services > main #slider-view .service-feed .service header {
        font-size: 64%;
    }
    #services > main #slider-view .service-feed .service footer .title {
        font-size: 74%;
    }
    #services > main #slider-view .service-feed .service footer .location {
        font-size: 76%;
    }
    #services > main #slider-view .service-feed .service footer .descr {
        font-size: 70%;
    }
    #analytics > main #slider-view .analytic-feed .analytic {
        height: 137px;
    }
    #analytics > main #slider-controller img {
        width: 40%;
        top: 27px;
    }
    #analytics > main #slider-view .analytic-feed .analytic h2 {
        font-size: 97%;
    }
    #analytics > main #slider-view .analytic-feed .analytic .descr {
        display: none;
    }
    #estate {
        height: 249px;
    }
    #estate > main #slider-controller img {
        width: 42%;
        top: -27px;
    }
    #estate > main #slider-view .estat-feed .estat {
        height: 181px;
    }
    #estate > main #slider-view .estat-feed .estat header {
        font-size: 64%;
    }
    #reviews > main #slider-view .review-feed .review main h3 {
        font-size: 95%;
    }
    #reviews > main #slider-controller img {
        width: 48%;
        top: 34px;
    }
    #promo > main .promo-feed .promoblock footer .info {
        margin-top: 47%;
    }
    .rating-mini span {
        font-size: 23px;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 99px;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 149px;
    }
    .footer > main #category_menu .catname {
        font-size: 100%;
    }
    .footer > main #category_menu ul {
        font-size: 63%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
}
@media all and (min-width:1366px) and (max-width: 1400px){
    .header > #header_top .ht_header {
        margin-left: -7%;
        top: 14%;
        position: relative;
    }
    .header > #header_top .ht_header span {
        font-size: 95%;
        width: 60%;
        float: right;
        top: -31px;
        position: relative;
    }
    .header > #header_bottom {
        float: right;
        width: 80%;
        top: -87%;
        right: 9%;
        position: relative;
    }
    #promo {
        height: 594px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -20%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 109px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 46%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 104%;
    }
    #investsearch {
        height: 514px;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 64%;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 194px;
    }
    .footer > main #category_menu .catname {
        font-size: 110%;
    }
    .footer > main #category_menu ul {
        font-size: 83%;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
}
@media all and (min-width:1400px) and (max-width: 1600px){
    .header > #header_top .ht_header {
        left: 2%;
        position: relative;
        top: 11%;
    }
    .header > #header_top .ht_header span {
        font-size: 107%;
        width: 53%;
        float: right;
        top: -39px;
        right: 14%;
        position: relative;
    }
    .header > #header_bottom {
        float: right;
        width: 74%;
        top: -27%;
        right: 7%;
        position: relative;
    }
    #promo {
        height: 622px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -12%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 133px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 46%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 106%;
    }
    #investsearch {
        height: 519px;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 79%;
    }
    #investsearch > main .popular-objects .popular-object main img {
        height: 194px;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
}
@media all and (min-width:1600px) and (max-width: 1800px){
    .header > #header_top .ht_header span {
        top: -44px;
        right: 16%;
        position: relative;
    }
    #promo {
        height: 656px;
    }
    #promo > main .promo-feed,  #investsearch > main .popular-objects{
        margin-left: -18%;
    }
    #promo > main .promo-feed .promoblock main img {
        height: 148px;
    }
    #promo > main .promo-feed .promoblock footer {
        margin-top: 46%;
    }
    #promo > main .promo-feed .promoblock footer .info span {
        font-size: 116%;
    }
    #investsearch {
        height: 537px;
    }
    #investsearch > main .popular-objects .popular-object header {
        height: 27px;
    }
    #investsearch > main .popular-objects .popular-object header h3 {
        font-size: 79%;
    }
    .header > #header_top{
        top: 1%;
        left: 7%;
        position: relative;
    }
    .header > #header_bottom{
        top: -31%;
        right: 7%;
        position: relative;
    }
    .header > #header_bottom .hb_bottom header .welcome-link {
        margin-top: 5%;
    }
}