#news{ height: 2020px; }
.news-feed{
  width: 82%;
  margin-left: 9%;
  margin-top: -5%;
}
.news-feed > header{
  position: relative;
  left: -5%;
  width: 100%;
  padding-bottom: 3%;
}
.news-feed > header h2.title{
  color: black;
  font-size: 120%;
  margin-left: 6px;
}
.news-feed > header #top-feed{
  padding-top: 2px;
}
.news-feed > header #top-feed .left-content{
  float: left;
  margin-left: -5vw;
  width: 50%;
  margin-top: -41px;
}
.news-feed > header #top-feed .left-content header{
  margin-top: 21px;
  margin-left: 13%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.news-feed > header #top-feed .left-content header img{
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.news-feed > header #top-feed .left-content main{
  display: block;
  padding-top: 5px;
  width: 72%;
  text-align: justify;
  margin-left: 13%;
}
.news-feed > header #top-feed .left-content main #title{
  display: block;
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
  font-size: 94%;
  width: 120%;
}
.news-feed > header #top-feed .left-content main #descript{
  display: block;
  margin-top: 2%;
  font-size: 69%;
  color: gray;
  width: 120%;
}
.news-feed > header #top-feed .left-content footer{ 
  display: block;
  margin-top: 3%;
  margin-left: 13%;
}
.news-feed >  header #top-feed .left-content footer #more{
  color: #0079bf;
  font-size: 70%;
  text-decoration: none;
  border-bottom: 1px dashed #0079bf;
}
.news-feed >  header #top-feed .right-content{
  float: right;
  width: 47vw;
  margin-right: 0%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont{
  padding-top: 2px;
  padding-bottom: 2px;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content{
  margin-top: -37px;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul{
  list-style-type: none;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li{
  width: 43%;
  display: inline-table;
  padding-bottom: 4%;
  margin-left: 2%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li:nth-child(odd) img{ width: 93%; }
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li a{
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
  font-size: 69%;
  display: block;
  padding-top: 8%;
  width: 95%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li span{
  color: gray;
  font-size: 60%;
  display: block;
  padding-top: 3%;
  width: 100%;
}
.news-feed > main{
  margin-top: 35%;
  display: block;
}
.news-feed > main #light-feed{
  padding-top: 2%;
  padding-bottom: 2%;
}
.news-feed > main #light-feed .light-feed-cont{
  display: block;
  padding-top: 2%;
}
.news-feed > main #light-feed .light-feed-cont #cont-header{
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
}
.news-feed > main #light-feed .light-feed-cont #cont-header span#cont-title{
  font-size: 110%;
  background-color: #eff3f4;
  position: relative;
  top: -19px;
  padding-left: 2%;
  padding-right: 1%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul{
  list-style-type: none;
  margin-left: -3%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li{
  width: 18vw;
  display: inline-table;
  margin-left: 3%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li a{
  color: #0079bf;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 97%;
  width: 100%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li span{
  font-size: 80%;
  display: block;
  margin-top: 3%;
  color: gray;
  width: 100%;
}
.news-feed > footer{
  margin-top: 0%;
  display: block;
}
.news-feed > footer #down-feed{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: -3%;
}
.news-feed > footer #down-feed .down-feed-cont{
  display: block;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content{
  padding-top: 1px;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul{
  list-style-type: none;
  margin-left: -3%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li{
  width: 18vw;
  display: inline-table;
  margin-left: 3%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li img{
  width: 100%;
  height: 172px;
  object-fit: cover;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li a{
  display: block;
  color: #0079bf;
  font-size: 99%;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8%;
  width: 100%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li span{
  font-size: 85%;
  display: block;
  margin-top: 3%;
  color: gray;
  width: 100%;
}

