#news{ height: 2020px; }
.news-feed{
  width: 82%;
  margin-left: 9%;
  margin-top: -5%;
}
.news-feed > header{
  position: relative;
  left: -5%;
  width: 100%;
  padding-bottom: 3%;
}
.news-feed > header h2.title{
  color: black;
  font-size: 120%;
  margin-left: 6px;
}
.news-feed > header #top-feed{
  padding-top: 2px;
}
.news-feed > header #top-feed .left-content{
  float: left;
  margin-left: -5vw;
  width: 50%;
  margin-top: -41px;
}
.news-feed > header #top-feed .left-content header{
  margin-top: 21px;
  margin-left: 13%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.news-feed > header #top-feed .left-content header img{
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.news-feed > header #top-feed .left-content main{
  display: block;
  padding-top: 5px;
  width: 72%;
  text-align: justify;
  margin-left: 13%;
}
.news-feed > header #top-feed .left-content main #title{
  display: block;
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
  font-size: 94%;
  width: 120%;
}
.news-feed > header #top-feed .left-content main #descript{
  display: block;
  margin-top: 2%;
  font-size: 69%;
  color: gray;
  width: 120%;
}
.news-feed > header #top-feed .left-content footer{ 
  display: block;
  margin-top: 3%;
  margin-left: 13%;
}
.news-feed >  header #top-feed .left-content footer #more{
  color: #0079bf;
  font-size: 70%;
  text-decoration: none;
  border-bottom: 1px dashed #0079bf;
}
.news-feed >  header #top-feed .right-content{
  float: right;
  width: 47vw;
  margin-right: 0%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont{
  padding-top: 2px;
  padding-bottom: 2px;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content{
  margin-top: -37px;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul{
  list-style-type: none;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li{
  width: 43%;
  display: inline-table;
  padding-bottom: 4%;
  margin-left: 2%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li:nth-child(odd) img{ width: 93%; }
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li a{
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
  font-size: 69%;
  display: block;
  padding-top: 8%;
  width: 100%;
}
.news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li span{
  color: gray;
  font-size: 60%;
  display: block;
  padding-top: 3%;
  width: 100%;
}
.news-feed > main{
  margin-top: 35%;
  display: block;
}
.news-feed > main #light-feed{
  padding-top: 2%;
  padding-bottom: 2%;
}
.news-feed > main #light-feed .light-feed-cont{
  display: block;
  padding-top: 2%;
}
.news-feed > main #light-feed .light-feed-cont #cont-header{
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
}
.news-feed > main #light-feed .light-feed-cont #cont-header span#cont-title{
  font-size: 110%;
  background-color: #eff3f4;
  position: relative;
  top: -19px;
  padding-left: 2%;
  padding-right: 1%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul{
  list-style-type: none;
  margin-left: -3%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li{
  width: 18vw;
  display: inline-table;
  margin-left: 3%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li a{
  color: #0079bf;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 97%;
  width: 100%;
}
.news-feed > main #light-feed .light-feed-cont #cont-content ul li span{
  font-size: 80%;
  display: block;
  margin-top: 3%;
  color: gray;
  width: 100%;
}
.news-feed > footer{
  margin-top: 0%;
  display: block;
}
.news-feed > footer #down-feed{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: -3%;
}
.news-feed > footer #down-feed .down-feed-cont{
  display: block;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content{
  padding-top: 1px;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul{
  list-style-type: none;
  margin-left: -3%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li{
  width: 18vw;
  display: inline-table;
  margin-left: 3%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li img{
  width: 100%;
  height: 172px;
  object-fit: cover;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li a{
  display: block;
  color: #0079bf;
  font-size: 99%;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8%;
  width: 100%;
}
.news-feed > footer #down-feed .down-feed-cont #cont-content ul li span{
  font-size: 85%;
  display: block;
  margin-top: 3%;
  color: gray;
  width: 100%;
}
@media all and (min-width: 320px) and (max-width: 1024px){
  .news-feed {
    width: 98vw;
    margin-left: 9%;
  }
  .news-feed > header #top-feed .left-content {
    margin-left: -14%;
    width: 100%;
  }
  .news-feed > header #top-feed .right-content {
    width: 100%;
    margin-right: 15%;
    margin-top: 7%;
  }
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li {
    width: 99%;
    margin-left: -10%;
    padding-bottom: 20px;
  }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li {
    width: 91%;
    display: block;
    margin-left: -10%;
    margin-top: 5%;
  }
  #news {
    height: 5900px;
  }
  .news-feed > main #light-feed .light-feed-cont #cont-header hr{
    color: transparent;
  }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img {
    width: 94%;
  }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img {
    width: 77vw;
  }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li span {
    width: 93%;
  }
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a {
    width: 103%;
  }
  .news-feed > header #top-feed .left-content header img {
    height: calc(139px * 2);
    width: 100%;
  }
  .news-feed > main #light-feed .light-feed-cont #cont-header span#cont-title {
    padding-left: 4vw;
  }
  .news-feed > header #top-feed .left-content main #title {
    width: 122%;
  }
}
@media all and (min-width: 320px) and (max-width: 640px){
  .news-feed > main #light-feed .light-feed-cont #cont-header span#cont-title {
    margin-left: -8%;
  }
}
@media all and (min-width: 400px) and (max-width: 640px){
  .news-feed > main {
    margin-top: 0%;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px){
  
  .news-feed > main #light-feed .light-feed-cont #cont-header {
    margin-left: -6%;
  }
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li {
    width: 86%;
    margin-left: -4%;
  }
  .news-feed > header #top-feed .right-content {
    margin-right: 8%;
  }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li {
    width: 46%;
  }
  #news {
    height: 5253px;
  }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li {
    margin-left: -4%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
  .news-feed {
    margin-top: -15%;
  }
  .news-feed > main {
    margin-top: 64%;
  }
  .news-feed > header #top-feed .left-content header img { height: 290px; }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img { height: 132px; }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img { height: 131px; }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
  .news-feed {
    margin-top: -8%;
  }
  .news-feed > header #top-feed .left-content header img { height: 300px; }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img { height: 128px; }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img { height: 143px; }
  .news-feed > main {
    margin-top: 48%;
  }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ margin-left: -5%;}
}
@media all and (min-width: 1366px) and (max-width: 1400px){
  .news-feed > header #top-feed .left-content header img { height: 300px; }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img { height: 143px; }
  .news-feed > main {
    margin-top: 42%;
  }
}
@media all and (min-width: 1400px) and (max-width: 1600px){
  .news-feed {
    margin-top: -6%;
  }
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img { height: 143px; }
  .news-feed > main {
    margin-top: 39%;
  }
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img{ width: 98%; }

  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ margin-left: -5%;}
  .news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li:nth-child(odd) img{ width: 90%; }
}
@media all and (min-width: 1600px) and (max-width: 1680px){
  .news-feed {
    margin-top: -5%;
  }
  .news-feed > main {
    margin-top: 34%;
  }
}
@media all and (min-width: 1680px) and (max-width: 1800px){
  .news-feed {
    margin-top: -6%;
  }
  .news-feed > main {
    margin-top: 31%;
  }

  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img,
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li a,
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li span,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ width: 94%; }

  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ margin-left: -3%;}

  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li:nth-child(odd) img{ width: 80%; }
}
@media all and (min-width: 1800px){
  .news-feed { margin-top: -3%; }
  .news-feed > main { margin-top: 27%; }
  .news-feed > header #top-feed .right-content { margin-right: 3px; }

  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li img,
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li a,
  .news-feed > header #top-feed .right-content .last-feed-cont #cont-content ul li span,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ width: 91%; }

  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li img,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li a,
  .news-feed > footer #down-feed .down-feed-cont #cont-content ul li span,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li a,
  .news-feed > main #light-feed .light-feed-cont #cont-content ul li span{ margin-left: -3%;}

  .news-feed >  header #top-feed .right-content .last-feed-cont #cont-content ul li:nth-child(odd) img{ width: 83%; }
}
@media all and (min-width: 1350px) and (max-width: 1366px){
  .news-feed {
    margin-top: -5%;
  }
}