@import url('../css/services/objects-searchform-content.css');
.window-closed{ display: none; }
#objects{ height: auto; }
#objects > .projects-search-form{
    width: 77%;
    height: auto;
    margin-left: 11%;
    background-color: white;
}
#objects > .projects-search-form header{
   color: black;
   height: 72px;
}
#objects > .projects-search-form header .title{
    margin-left: -5vw;
    font-size: 90%;
 }
#objects > .projects-search-form header #left-content, #objects > .projects-search-form footer #left-content, #objects > .projects-search-form footer #left-content-add{
    margin-left: 2%;
    float: left;
    margin-top: 3%;
}
#objects > .projects-search-form footer #left-content, #objects > .projects-search-form footer #left-content-add{
    display: block;
    width: 90%;
    margin-left: 4%;
    float: left;
    margin-top: 3%;
}
#objects > .projects-search-form header #right-content{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}
#objects > .projects-search-form header #right-content .close{
    width: 90%;
}
#objects > .projects-search-form main{
    height: calc(72px * 5);
}
#objects > .projects-search-form footer{
    height: calc(72px * 5);
    padding-bottom: 5%;
}
#objects > .objects-list{
    width: 83%;
    margin-left: 12%;
    margin-top: 3%;
}
#objects > .objects-list header{
    color: black;
}
#objects > .objects-list header h2{
    margin-left: -9%;
}
#objects > .objects-list main table{
    width: 91%;
    border-bottom: solid 2px gray;
    border-spacing: initial;
}
#objects > .objects-list main table .header{
    color: gray;
    font-size: 80%;
    text-align: left;
}
#objects > .objects-list main table .header th{
    font-weight: normal;
}
#objects > .objects-list main table .content{
    height: 39px;
}
#objects > .objects-list main table .content td{
    font-size: 90%;
    border-top: solid 2px gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
#objects > .objects-list main table .content td:nth-child(2){
    font-weight: bold;
}
#objects > .objects-list main table .content td:nth-child(2) a{
    color: #0079bf;
    text-decoration: none;
}
#objects > .objects-list main table .content td:nth-child(2) a:hover{
    text-decoration: underline;
}
#objects > .objects-list main table .content td:nth-child(3){
    font-weight: bold;
}

#objects > .projects-search-form main form .selectors .selector #type-selector{
    position: absolute;
    left: -9999px;
}

#objects > .projects-search-form main form .selectors .selector #type-selector + span{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

#objects > .projects-search-form main form .selectors .selector #type-selector + span:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #f0f3f4;
    background-color: #f0f3f4;
}

#objects > .projects-search-form main form .selectors .selector #type-selector + span:before{
    border-radius: 2px;
}

#objects > .projects-search-form main form .selectors .selector #type-selector:checked + span:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#objects > .projects-search-form main form .selectors .selector #type-selector:checked + span:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media all and (min-width: 320px) and (max-width: 640px){
    #objects > .projects-search-form {
        width: 83%;
        margin-left: 11%;
    }
    #objects > .projects-search-form header .title {
        margin-left: -8%;
        font-size: 64%;
    }
    #objects > .projects-search-form main form .selectors {
        width: 90%;
        margin-top: 4%;
    }
    #objects > .projects-search-form header #right-content {
        margin-top: 6%;
    }
    #objects > .projects-search-form footer #left-content {
        margin-top: 474px;
    }
    #objects > .projects-search-form footer #left-content-add {
        margin-top: 5%;
    }
    #objects > .projects-search-form footer {
        height: calc(72px * 12);
    }
    #objects > .objects-list header h2 {
        margin-left: -19%;
    }
    #objects > .objects-list main table {
        width: 114%;
        margin-left: -11%;
        border-bottom: none;
    }
    #objects > .objects-list main table .content {
        font-size: 83%;
    }
    #objects > .objects-list main table .header {
        display: none;
    }
    #objects > .objects-list main table .content td {
        border-top: none;
        display: block;
    }
    #objects > .objects-list main table .content td:nth-child(4) {
        float: right;
    }
}
@media all and (min-width: 640px) and (max-width: 1024px){
    #objects > .projects-search-form {
        width: 83%;
        margin-left: 11%;
    }
    #objects > .projects-search-form header .title {
        margin-left: -15%;
        font-size: 76%;
    }
    #objects > .projects-search-form main form .selectors {
        width: 90%;
        margin-top: 2%;
    }
    #objects > .projects-search-form header #right-content {
        margin-top: 4%;
    }
    #objects > .projects-search-form footer #left-content {
        margin-top: 392px;
    }
    #objects > .projects-search-form footer #left-content-add {
        margin-top: 5%;
    }
    #objects > .projects-search-form footer {
        height: calc(72px * 11);
    }
    #objects > .objects-list header h2 {
        margin-left: -19%;
    }
    #objects > .objects-list main table {
        width: 114%;
        margin-left: -11%;
    }
    #objects > .objects-list main table .header, #objects > .objects-list main table .content {
        font-size: 83%;
    }
    #objects > .objects-list main table .header th {
        padding-right: 16px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    #objects > .projects-search-form footer {
        height: calc(80px * 5);
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    #objects > .projects-search-form footer {
        height: calc(72px * 5);
    }
}
@media all and (min-width: 320px) and (max-width: 1024px) {
    #services > main #slider-view, #services > main #slider-controller{ display: none; }
    #services {
        height: calc(154px * 3);
        padding-top: calc(1vw - (15px * 2));
    }
    #service > header{ width: 39%; }
    #services > main {
        width: 80%;
        float: left;
        margin-left: 12vw;
        margin-top: 5vw;
    }
    #services > header .add-but { width: 114%; }
}
@media all and (min-width: 1024px) {
    #services > main #slider-view-adaptive, #services > main #slider-controller-adaptive{ display: none; }
}