.label, span.title-form{
    color: gray;
    font-size: 50%;
    text-transform: uppercase;
    font-weight: bold;
}
.label{ font-size: 55%;}
.range-form{
    margin-top: 6%;
    padding-top: 1%;
    width: 30%;
    display: block;
}
.input-from-to{
    margin-top: 2%;
    width: 100%;
}
.input-from-to > span.content-form{
    font-size: 76%;
    display: block;
}
.input-from-to > span.content-form input{
    border: none;
    background-color: lightgray;
    padding: 5px;
    font-size: 75%;
}
.input-from-to > span.content-form input#from{
    width: 20%;
}
.input-from-to > span.content-form input#to{
    width: 25%;
}