.label, span.title-form{
    color: gray;
    font-size: 50%;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 12px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    margin-left: 2%;
}
.label{ font-size: 55%;}
.range-form{
    margin-top: 9%;
    padding-top: 6%;
    width: 30%;
    display: block;
}
.input-from-to{
    margin-top: 1%;
    width: 100%;
}
.input-from-to > span.content-form{
    font-size: 61%;
    display: block;
    border: solid 2px gray;
    border-radius: 10px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}
.input-from-to > span.content-form input{
    border: none;
    background-color: #f0f3f4;
    padding: 5px;
    font-size: 75%;
}
.input-from-to > span.content-form input#from{
    width: 20%;
    font-size: 100%;
}
.input-from-to > span.content-form input#to{
    width: 25%;
    font-size: 100%;
}
.range-form:nth-child(2) {
    margin-top: 12%;
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    .range-form:nth-child(2) {
        margin-top: 7%;
    }
}
@media all and (min-width: 1680px) and (max-width: 1800px){
    .range-form:nth-child(2) {
        margin-top: 10%;
    }
}
@media all and (min-width: 1800px){
    .range-form:nth-child(2) {
        margin-top: 9%;
    }
}