@import url('../services/lightbox-passport-regional.css');
.lightwin-passport{
    width: 30%;
    height: 56%;
    background-color: white;
    position: absolute;
    top: 2%;
    left: 33%;
    padding-bottom: 4%;
}
.lightwin-passport > header{
    width: 100%;
    height: calc(100% / 8);
    background-color: #0079bf;
}
.lightwin-passport > main{
    width: 100%;
    height: calc(137% / 2);
    overflow: auto;
}
.lightwin-passport > footer{
    width: 100%;
    height: calc(100% / 4);
    background-color: white;
}
.lightwin-passport > header #left-content, .lightwin-passport > footer #left-content{
    float: left;
    margin-left: 2%;
}
.lightwin-passport > footer #left-content, .lightwin-passport > footer #left-content-plus{
   width: 100%;
   height: calc(100% / 2);
   display: block;
   padding-top: 2%;
   padding-bottom: 2%;
   float: left;
   margin-left: 2%;
}
.lightwin-passport > header #left-content{
    margin-top: 3%;
    color: white;
}
.lightwin-passport > header #left-content span{
    font-size: 130%;
}
.lightwin-passport > header #right-content{
    float: right;
    margin-right: 2%;
    margin-top: 3%;
}
.lightwin-passport > header #right-content:hover{
    cursor: pointer;
}
.lightwin-passport > header #right-content .close{
    width: 80%;
}
.lightwin-passport > main form{
    width: 95%;
    margin-left: 3%;
    margin-top: 1%;
}
.lightwin-passport > main form label{
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    font-size: 80%;
}
.lightwin-passport > main form #textput{
    display: block;
    margin-top: 1%;
    width: 95%;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 80%;
}
.lightwin-passport > main form #selector-form{
    width: 95%;
    background-color: white;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 80%;
    margin-top: 1%;
}
.lightwin-passport > main form #from-to{
    display: block;
    margin-top: 2%;
}
.lightwin-passport > main form #from-to #selector-form-add{
    display: block;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    background-color: white;
    font-size: 80%;
}
.lightwin-passport > main form #from-to .left{
    float: left;
    width: 40%;
}
.lightwin-passport > main form #from-to span{
    margin-left: 7%;
    font-size: 185%;
    position: relative;
    top: 62%;
}
.lightwin-passport > main form #from-to .right{
    float: right;
    margin-right: 5%;
    width: 40%;
}
.lightwin-passport > footer #left-content .selectors #selector{
    font-size: 100%;
    margin-top: 2%;
    display: block;
}



.lightwin-passport > footer #left-content .selectors #selector #selector-check{
    position: absolute;
    left: -9999px;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check + span{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check + span:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #f0f3f4;
    background-color: #f0f3f4;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check + span:before{
    border-radius: 2px;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check:checked + span:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check:checked + span:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check + span:after{
    opacity: 0;
}

.lightwin-passport > footer #left-content .selectors #selector #selector-check:checked + span:after{
    opacity: 1;
}


.lightwin-passport > main form #textput:focus, .lightwin-passport > main form #selector-form:focus, .lightwin-passport > main form #from-to #selector-form-add:focus{ border: solid 2px darkgray;}

@media all and (min-width: 320px) and (max-width: 1024px){
    .lightwin-passport, .lightwin-passport-regional {
        width: 98%;
        left: 1%;
    }
    .lightwin-passport > main {
        height: calc(110% / 2);
    }
    .lightwin-passport-regional {
        height: calc(63% / 2);
        padding-bottom: 5%;
    }
    .lightwin-passport-regional > main form .countries-part {
        width: 17%;
    }
    .lightwin-passport > header #left-content { margin-top: 1%; }
    .lightwin-passport > header #right-content { margin-top: 2%; }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    
    .lightwin-passport-regional {
        height: calc(60% / 2);
        bottom: 2%;
    }
    .lightwin-passport-regional > main { height: calc((247% / 2) / 2); }
    
    
}