.lightwin-passport-regional{
    width: 30%;
    height: calc(56% / 2);
    background-color: #f0f3f4;
    position: absolute;
    bottom: 1%;
    left: 33%;
    padding-bottom: 2%;
}
.lightwin-passport-regional > header{
    width: 100%;
    height: calc(100% / 4);
}
.lightwin-passport-regional > main{
    width: 100%;
    height: calc((278% / 2) / 2);
    overflow: auto;
}
.lightwin-passport-regional > footer{
    width: 100%;
    height: calc((100% / 4) / 2);
}
.lightwin-passport-regional > header #left-content, .lightwin-passport-regional > footer #left-content{
    float: left;
    margin-left: 2%;
}
.lightwin-passport-regional > header #left-content{
    margin-top: 3%;
    font-weight: bold;
    font-size: 100%;
}
.lightwin-passport-regional > header #right-content{
    float: right;
    margin-right: 2%;
    margin-top: 3%;
}
.lightwin-passport-regional > header #right-content .close{
    width: 80%;
}
.lightwin-passport-regional > main form .countries-part{
    width: calc(100% / 5);
    display: inline-table;
}
.lightwin-passport-regional > main form .countries-part .country-name{
    font-size: 80%;
}
.lightwin-passport-regional > main form .countries-part label #country-selector{
    position: absolute;
    left: -9999px;
}

.lightwin-passport-regional > main form .countries-part label #country-selector + span.country-name{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.lightwin-passport-regional > main form .countries-part label #country-selector + span.country-name:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #f0f3f4;
    background-color: #f0f3f4;
}

.lightwin-passport-regional > main form .countries-part label #country-selector + span.country-name:before{
    border-radius: 2px;
}

.lightwin-passport-regional > main form .countries-part label #country-selector:checked + span.country-name:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.lightwin-passport-regional > main form .countries-part label #country-selector:checked + span.country-name:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}