#services {
    background-color: white;
}
#services > header a {
    font-size: 69%;
}
#services > header a strong {
    font-size: 95%;
}
#services > header .add-but {
    display: block;
    top: 5%;
    color: darkgray;
    background-color: #f0f3f4;
    font-size: 75%;
}

@media only all and (max-width: 414px){}
@media only all and (max-width: 600px){}
@media only all and (max-width: 768px){}
@media only all and (max-width: 800px){}
@media only all and (max-width: 960px){}
@media only all and (max-width: 1024px){}
@media only all and (max-width: 1280px){}
@media only all and (max-width: 1366px){}
@media only all and (max-width: 1440px){}
@media only all and (max-width: 1536px){}
@media only all and (max-width: 1600px){}
@media only all and (max-width: 1920px){}
@media only all and (min-width: 1920px){}