#news{height: 1800px;padding-top: 3%;}
#news > .news-viewer #left-content{
  width: 55%;
  float: left;
  margin-left: 7%;
  margin-top: -1%;
}
#news > .news-viewer #left-content header{
  width: 100%;
}
#news > .news-viewer #left-content header h2{
  font-size: 149%;
  color: black;
  width: 90%;
}
#news > .news-viewer #left-content header .public-date{
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 92%;
  margin-top: -1%;
}
#news > .news-viewer #left-content header .public-date #clock{
  display: inline-table;
  width: 26px;
  vertical-align: middle;
  margin-left: 2%;
}
#news > .news-viewer #left-content header .public-date i{
  font-family: 'Times New Roman',sans-serif;
  font-size: 80%;
  margin-left: 1%;
}
#news > .news-viewer #left-content main{
  margin-left: 8%;
  margin-top: 2%;
}
#news > .news-viewer #left-content main .title-image{
  padding-top: 0%;
}
#news > .news-viewer #left-content main .title-image img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}
#news > .news-viewer #left-content main .news-content{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: justify;
}
#news > .news-viewer #left-content main .news-content p{  
  font-size: 100%;
}
#news > .news-viewer #left-content main .news-content p.bookmark{
  font-size: 140%;
  font-weight: bold;
}
#news > .news-viewer #left-content footer{
  margin-left: 8%;
}
#news > .news-viewer #left-content footer .share{
  border-bottom: solid 2px gray;
  border-top: solid 2px gray;
}
#news > .news-viewer #left-content footer .share strong{
  color: gray;
  display: inline-table;
  font-size: 90%;
}
#news > .news-viewer #left-content footer .share ul{
  list-style-type: none;
  display: inline-flex;
  position: relative;
  top: 1%;
  left: -4%;
}
#news > .news-viewer #left-content footer .share ul li{ 
  margin-left: 20%;
  font-size: 118%;
}
#news > .news-viewer #left-content footer .share ul li:hover{ 
    cursor: pointer;
}
#news > .news-viewer #left-content footer .realted{
  padding-top: 2%;
}
#news > .news-viewer #left-content footer .realted strong{
  color: gray;
  font-size: 100%;
}
#news > .news-viewer #left-content footer .realted ul{
  list-style-type: none;
  margin-left: -40px;
}
#news > .news-viewer #left-content footer .realted ul li{
  margin-top: 4%;
}
#news > .news-viewer #left-content footer .realted ul li a{
  color: #0079bf;
  font-weight: bold;
  text-decoration: none;
}
#news > .news-viewer #left-content footer .realted ul li:hover a{
    cursor: pointer;
    text-decoration: underline;
}
#news > .news-viewer #right-content{
    float: right;
    display: inline-table;
    width: 25%;
    margin-right: 10%;
    margin-top: 5%;
}
#news > .news-viewer #right-content .realted-news{ 
    padding-top: 2%;
    padding-bottom: 2%;
}
#news > .news-viewer #right-content .realted-news .realted{
    display: block;
    margin-top: 1%;
    padding-bottom: 12%;
}
#news > .news-viewer #right-content .realted-news .realted #header{
    width: 90%;
}
#news > .news-viewer #right-content .realted-news .realted #content{
    display: block;
    margin-top: 6%;
    color: #0079bf;
    font-weight: bold;
    text-decoration: none;
    font-size: 98%;
}
#news > .news-viewer #right-content .realted-news .realted #footer{
    display: block;
    padding-top: 6%;
    padding-bottom: 2%;
    font-size: 102%;
    color: gray;
    text-align: justify;
    width: 89%;
}
#news > .news-viewer #right-content .realted-news .realted #date{
  color: gray;
  font-family: Times New Roman, serif;
  font-style: italic;
  font-size: 90%;
  padding-top: 6%;
  display: block;
}

@media all and (max-width: 414px){
  #news {
    height: 4189px;
  }
  #news > .news-viewer #left-content {
    width: 88%;
    float: left;
    margin-left: 4%;
    margin-top: -1%;
  }
  #news > .news-viewer #right-content {
    float: left;
    display: inline-table;
    width: 86%;
    margin-left: 11%;
  }
}
@media all and (min-width: 414px) and (max-width: 600px){
  #news {
    height: 3900px;
  }
  #news > .news-viewer #left-content {
    width: 88%;
    float: left;
    margin-left: 4%;
    margin-top: -1%;
  }
  #news > .news-viewer #right-content {
    float: left;
    display: inline-table;
    width: 86%;
    margin-left: 11%;
  }
}
@media all and (max-width: 600px){
  #link-switcher > a.active, #link-switcher > #delimeter:nth-last-child(1) { display: none; }
}
@media all and (min-width: 600px) and (max-width: 768px){
  #news {
    height: 2616px;
  }
  #news > .news-viewer #right-content .realted-news .realted #header {
    width: 99%;
  }
  #news > .news-viewer #right-content {
    width: 26%;
    margin-right: 6%;
    margin-top: 32%;
  }
}
@media all and (min-width: 768px) and (max-width: 800px){
  #news {
    height: 2390px;
  }
  #news > .news-viewer #right-content .realted-news .realted #header {
    width: 99%;
  }
  #news > .news-viewer #right-content {
    width: 26%;
    margin-right: 6%;
  }
}
@media all and (min-width: 800px) and (max-width: 960px){
  #news {
    height: 2259px;
  }
  #news > .news-viewer #right-content .realted-news .realted #header {
    width: 99%;
  }
  #news > .news-viewer #right-content {
    width: 26%;
    margin-right: 6%;
  }
}
@media all and (min-width: 960px) and (max-width: 1024px){
  #link-switcher > #delimeter:nth-last-child(1), #link-switcher > a.active { display: none; }

  #news {
    height: 2020px;
  }
  #news > .news-viewer #right-content .realted-news .realted #header {
    width: 95%;
  }
  #news > .news-viewer #right-content {
    width: 26%;
    margin-right: 6%;
    margin-top: 14%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
  #news > .news-viewer #right-content .realted-news .realted #header {
    width: 96%;
  }
  #news > .news-viewer #right-content {
    width: 28%;
    margin-right: 6%;
    margin-top: 13%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
  #news > .news-viewer #right-content {
    width: 21%;
    margin-top: 7%;
    margin-right: 13%;
  }
}
@media all and (min-width: 1366px) and (max-width: 1440px){
  #news > .news-viewer #right-content {
    width: 24%;
    margin-top: 6%;
    margin-right: 11%;
  }
}
@media all and (min-width: 1440px) and (max-width: 1536px){
  #news > .news-viewer #right-content {
    width: 24%;
    margin-top: 6%;
    margin-right: 10%;
  }
}
@media all and (min-width: 1920px){
  #news > .news-viewer #right-content {
    width: 25%;
    margin-top: 4%;
    margin-right: 10%;
  }
}