     
.add-but{
            text-align: center;
            color:white;
            background-color:#0079bf;
            border: none;
            font-size: 90%;
            padding: 10px;
}

 @media all and (max-width: 414px){}
@media all and (max-width: 600px){}
@media all and (max-width: 768px){}
@media all and (max-width: 800px){}
@media all and (max-width: 960px){}
@media all and (max-width: 1024px){}
@media all and (max-width: 1280px){
            .add-but{ display: none; }
}
@media all and (max-width: 1366px){}
@media all and (max-width: 1440px){}
@media all and (max-width: 1536px){}
@media all and (max-width: 1600px){}
@media all and (max-width: 1920px){}
@media all and (min-width: 1920px){}
        
