@import url('../objects.css');
@import url('../services/hotels-input-services.css');
@import url('../services/objects-services-cont.css');

#objects > .projects-search-form {
    height: 980px;
}
.objects-adding-search{
    width: 100%;
    height: auto;
    display: block;
    margin-left: -6%;
}
.objects-adding-search > main{
    width: 100%;
    display: block;
}
.objects-adding-search > main header{
    display: block;
    position: relative;
    left: 2%;
    margin-top: 21%;
}
.objects-adding-search > main footer{
    display: block;
    margin-left: 10%;
    margin-top: 13%;
}
.objects-adding-search > main header form div{
    display: inline;
    margin-top: -10%;
    height: auto;
    float: left;
    width: 22vw;
    border: solid 2px gray;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-left: -7px;
}
.objects-adding-search > main header form div .label{
    font-size: 60%;
    position: relative;
    top: -18px;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
}
.objects-adding-search > main header form div input{
    display: block;
    margin-top: 2%;
    background-color: white;
    border: none;
    font-size: 80%;
}
.objects-adding-search > main header form div input::placeholder{
    color: black;
}
.objects-adding-search > main header form div input:focus{
    border: solid 2px #0079bf;
}
.objects-adding-search > main footer .check-selectors, .objects-adding-search > main footer .radio-selectors{
    display: block;
    margin-top: 2%;
    border: solid 2px gray;
    width: 30%;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-left: -11px;
}
.objects-adding-search > main footer .check-selectors .title-form, .objects-adding-search > main footer .radio-selectors .title-form{
    font-size: 67%;
    position: relative;
    top: -13px;
    margin-left: -4%;
}
.objects-adding-search > main footer .check-selectors label, .objects-adding-search > main footer .radio-selectors label{
    font-size: 90%;
    margin-top: 2px;
    display: block;
}
.objects-adding-search > main footer .check-selectors label input, .objects-adding-search > main footer .radio-selectors label input{
    top: 13%;
    position: relative;
}
.objects-adding-search > main footer .check-selectors label span, .objects-adding-search > main footer .radio-selectors label span{
    padding-left: 2px;
}
.objects-adding-search > footer{
    margin-top: -15%;
    margin-left: 6%;
}
.objects-adding-search > footer #left-content{
    position: relative;
    top: 5%;
}
.objects-adding-search > footer #left-content .input-from-to{
    font-size: 120%;
}
.objects-adding-search > footer #left-content .input-from-to input#from{
    width: 10%;
    font-size: 110%;
}
.objects-adding-search > footer #left-content .input-from-to input#to{
    width: 15%;
    font-size: 110%;
}
.objects-adding-search > footer #right-content{
    float: right;
    width: 35%;
    display: inline-table;
    margin-top: 66px;
    right: 28%;
    position: relative;
}
.objects-adding-search > header #left-content{
    width: 46%;
    height: auto;
}
.objects-adding-search > header #left-content header{
    margin-left: -1%;
    height: auto;
    margin-top: 2%;
}
.objects-adding-search > header #left-content header form div .label{
    font-size: 40%;
    display: block;
    background-color: white;
    position: relative;
    top: -9px;
    padding-left: 2%;
    width: 87px;
}
.objects-adding-search > header #left-content header form div select{
    display: block;
    border: none;
    background-color: white;
    width: 96%;
    font-size: 51%;
}
.objects-adding-search > header #left-content header form div {
    border: solid 2px gray;
    border-radius: 10px;
    width: 95%;
    padding-left: 2%;
    padding-bottom: 1%;
}
.objects-adding-search > header #left-content header form div:not(:nth-child(1)){
    display: inline-table;
    width: 46%;
}
.objects-adding-search > header #right-content{
    width: 50%;
    font-size: 80%;
    height: auto;
    background-color: white;
}
.objects-adding-search > header #right-content header{
    height: auto;
    margin-top: -1vw;
}
.objects-adding-search > header #right-content footer{
    display: block;
    margin-top: 9%;
    margin-left: 8%;
}

.objects-adding-search > main footer .check-selectors label input, 
.objects-adding-search > main footer .radio-selectors label input {
    position: absolute;
    left: -9999px;
}

.objects-adding-search > main footer .check-selectors label input + span, 
.objects-adding-search > main footer .radio-selectors label input + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.objects-adding-search > main footer .check-selectors label input + span:before, 
.objects-adding-search > main footer .radio-selectors label input + span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    background-color: white;
}

.objects-adding-search > main footer .check-selectors label input + span:before {
    border-radius: 2px;
}

.objects-adding-search > main footer .radio-selectors label input + span:before {
    border-radius: 100%;
}

.objects-adding-search > main footer .check-selectors label input + span:after, 
.objects-adding-search > main footer .radio-selectors label input + span:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.objects-adding-search > main footer .check-selectors label input:checked + span:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.objects-adding-search > main footer .radio-selectors label input:checked + span:after{
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #0079bf;
}

.objects-adding-search > main footer .check-selectors label input + span:after, 
.objects-adding-search > main footer .radio-selectors label input + span:after {
    opacity: 0;
}

.objects-adding-search > main footer .check-selectors label input:checked + span:after, 
.objects-adding-search > main footer .radio-selectors label input:checked + span:after {
    opacity: 1;
}
#objects > .projects-search-form footer #left-content {
    width: 50%;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 40px;
}
#objects > .projects-search-form footer #left-content-add {
    width: 50%;
    margin-top: 2%;
}
.ui-slider-horizontal .ui-slider-range { background: #0079bf; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-radius: 50%;
}
@media all and (min-width: 320px) and (max-width: 1024px){
    .objects-adding-search > header #left-content header form div:not(:nth-child(1)) {
        width: 95%;
    }
    
    #objects > .projects-search-form footer {
        margin-top: -57px;
    }
    .objects-adding-search > header #left-content, .objects-adding-search > header #right-content {
        width: 100%;
    }
    #objects > .projects-search-form main header #right-content {
        float: left;
        margin-left: -7%;
        background-color: transparent;
    }
    .objects-adding-search > main header form div {
        margin-top: 15%;
        width: 96%;
    }
    #objects > .projects-search-form footer #left-content {
        width: 97%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .objects-adding-search > footer #right-content {
        float: left;
        width: 100%;
        margin-top: 15%;
        margin-left: 32%;
    }
    #objects > .projects-search-form {
        height: 1002px;
    }
}
@media all and (min-width: 640px) and (max-width: 1024px){
    #objects > .projects-search-form footer #left-content { width: 55%; }
    .objects-adding-search > footer #right-content {width: 37%;margin-top: 9%;}
    #objects > .projects-search-form {
        height: 1185px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    .objects-adding-search > header #right-content header {
        margin-top: 0vw;
    }
    .input-from-to {
        display: block;
        margin-top: -5%;
    }
    .range-form {
        margin-top: 1vw;
        padding-bottom: 1vw;
        position: relative;
        top: -10px;
    }
    .objects-adding-search > main header form div { margin-left: -5px; }
    .objects-adding-search > main footer .check-selectors, .objects-adding-search > main footer .radio-selectors {
        margin-left: -3px;
    }
    .add-but {
        margin-left: 0%;
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    .objects-adding-search > header #right-content header {
        margin-top: 0vw;
    }
    .input-from-to {
        display: block;
        margin-top: -4%;
    }
    .range-form {
        margin-top: 1vw;
        padding-bottom: 1vw;
        position: relative;
        top: -10px;
    }
    .objects-adding-search > main header form div { margin-left: -5px; }
    .objects-adding-search > main footer .check-selectors, .objects-adding-search > main footer .radio-selectors {
        margin-left: -3px;
    }
    .add-but {
        margin-left: 0%;
    }
}
@media all and (min-width: 1366px) and (max-width: 1400px){
    .objects-adding-search > header #right-content header {
        margin-top: 0vw;
    }
    .input-from-to {
        display: block;
        margin-top: -4%;
    }
    .range-form {
        margin-top: 3%;
    }
    .objects-adding-search > main header form div { margin-left: -5px; }
    .objects-adding-search > main footer .check-selectors, .objects-adding-search > main footer .radio-selectors {
        margin-left: -3px;
    }
    .add-but {
        margin-left: 0%;
    }
}
@media all and (min-width: 1800px){
    #objects > .projects-search-form {
        height: 1049px;
    }
}
@media all and (max-width: 1024px){
    .objects-adding-search > main footer {
        display: none;
    }
}
@media all and (min-width: 1400px){
    .objects-adding-search > header #right-content {
        width: 64%;
        background-color: transparent;
    }
    .objects-adding-search > header #right-content .input-from-to > span.content-form {
        font-size: 51%;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    .objects-adding-search > header #right-content .input-from-to {
        display: inline-block;
        width: 47%;
    }
    .objects-adding-search > header #right-content header {
        left: 14%;
        position: relative;
    }

}
@media all and (min-width: 1400px) and (max-width: 1600px){
    .objects-adding-search > header #right-content header {
        margin-top: -113px;
    }
}
@media all and (min-width: 1600px) and (max-width: 1680px){
    .objects-adding-search > header #right-content header {
        margin-top: -117px;
    }
}
@media all and (min-width: 1680px) and (max-width: 1800px){
    .objects-adding-search > header #right-content header {
        margin-top: -118px;
    }
}
@media all and (min-width: 1800px){
    .objects-adding-search > header #right-content header {
        margin-top: -126px;
    }
    #objects > .projects-search-form footer #left-content {
        margin-left: 46px;
    }
}