@import url('hotels.css');
@import url('../services/objects-services-cont.css');
h2.view-title{
    color: black;
    font-size: 80%;
}
span.view-title{
    font-size: 60%;
    text-transform: uppercase;
    font-weight: bold;
}
.object-viewer{
    width: 80%;
    margin-left: 9%;
}
.object-viewer > .left-content, .object-viewer > .right-content{
    display: inline-table;
    width: 50%;
}
.object-viewer > .right-content{
    width: 48%;
    position: relative;
    top: -55px;
    left: 2%;
}
.object-viewer > .left-content header{
    margin-top: 2%;
}
.object-viewer > .left-content header .title{
    padding-top: 1%;
    padding-bottom: 1%;
}
.object-viewer > .left-content header .metadata{
    margin-top: 2%;
    padding-bottom: 1%;
    border-bottom: solid 2px #0079bf;
}
.object-viewer > .left-content header .metadata div{
    font-size: 71%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-top: solid 2px #0079bf;
    text-indent: 4%;
}
.object-viewer > .left-content header .metadata div span{
    color: black;
    font-weight: bold;
}
.object-viewer > .left-content header .object-contacts{
    margin-top: 4%;
    width: 120%;
}
.object-viewer > .left-content header .object-contacts .contact{
    width: 27%;
    display: inline-table;
    margin-left: 0%;
    border-bottom: solid 3px #0079bf;
    height: 74px;
    padding-bottom: 18px;
}
.object-viewer > .left-content header .object-contacts .contact img{
    width: 30px;
    margin-left: 18px;
}
.object-viewer > .left-content header .object-contacts .contact span{
    display: block;
    font-size: 52%;
    margin-top: 11%;
    color: black;
    font-weight: bold;
    margin-left: 22px;
}
.object-viewer > .left-content header .object-contacts .contact a{
    display: block;
    font-size: 52%;
    margin-top: 11%;
    color: #0079bf;
    font-weight: bold;
    margin-left: 22px;
}
.object-viewer > .left-content main{
    margin-left: 8%;
    margin-top: 2%;
}
.object-viewer > .left-content main .view-title{
    color: gray;
    font-size: 80%;
}
.object-viewer > .left-content footer{
    margin-left: 8%;
    margin-top: 2%;
}
.object-viewer > .left-content footer #more{
    color: #0079bf;
    font-size: 80%;
    text-decoration: none;
    border-bottom: dashed 2px #0079bf;
}

#objects > .objects-list main table {
    border-top: solid 2px gray;
}
#objects > .objects-list main table .header {
    height: 60px;
}
.specifications{
    width: 100%;
    margin-top: 2%;
    font-size: 96%;
    border-collapse: collapse;
}
.specifications > tbody tr{
    height: 35px;
}
.specifications > tbody tr:nth-child(2n){
    background-color: white;
}
.specifications > tbody tr td{
    color: gray;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}
.specifications > tbody tr td:nth-child(2){
    color: black;
    font-weight: bold;
}
#objects > .objects-list {
    margin-top: -4%;
}
.object-viewer > .right-content header .add-to-favorite{
    font-size: 110%;
    padding-bottom: 7px;
    border: solid 2px gray;
    width: 178px;
}
.object-viewer > .right-content header .add-to-favorite i{
    color: #0079bf;
    vertical-align: middle;
    margin-left: 14px;
    margin-top: 1%;
}
.object-viewer > .right-content header .add-to-favorite a{
    font-size: 60%;
    color: gray;
    text-decoration: none;
}
.object-viewer > .right-content header .description{
    font-size: 100%;
    margin-top: 18%;
}
.object-viewer > .right-content header .description span{
    overflow: auto;
    text-overflow: ellipsis;
    color: black;
    font-size: 80%;
    display: block;
}
.object-viewer > .right-content header .description a{
    margin-top: 1%;
    display: inline-block;
    text-decoration: none;
    border-bottom: dotted 2px;
}
.object-viewer > .right-content main {
    margin-top: 3%;
    display: block;
}
.object-viewer > .right-content footer {
    margin-top: -10%;
    display: block;
}
.object-viewer > .right-content main .view-title {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8%;
    color: gray;
    display: block;
}
.object-viewer > .right-content footer .view-title {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8%;
    color: gray;
    display: block;
}
.object-viewer > .right-content footer .view-player {
    display: block;
    width: 90%;
    height: 304px;
    margin-left: 8%;
    margin-top: 2%;
    object-fit: cover;
}
#images-slider{
    display: block;
    margin-top: -10%;
    width: 100%;
    height: 617px;
}
#images-slider > .header{
    padding-top: 2%;
}
#images-slider > .header .switcher{
    width: 25%;
    display: inline-table;
    height: auto;
}
#images-slider > .header .switcher:hover{
    cursor: pointer;
}
#images-slider > .header header.switcher{
    float: left;
    position: relative;
    top: 214%;
    margin-left: -3%;
}
#images-slider > .header footer.switcher{
    float: right;
    position: relative;
    top: 268%;
    margin-right: -29%;
}
#images-slider > .header .switcher img{
    width: 26px;
}
#images-slider > .content{
    width: 104%;
    display: block;
    margin-left: 8%;
    margin-top: -6%;
}
#images-slider > .content #current{
    width: 87%;
    object-fit: cover;
    height: 337px;
}
#images-slider > .footer{
    display: block;
    margin-top: 8px;
    background-color: transparent;
    margin-left: 8%;
}
#images-slider > .footer .image-switcher{
    width: 20%;
    display: inline-table;
}
#images-slider > .footer .image-switcher:hover{
    cursor: pointer;
    opacity: 0.85;
}
#images-slider > .footer .image-switcher img{
    width: 99%;
    object-fit: cover;
    height: 80px;
}
.image-current{
    opacity: 0.65;
}
@media all and (min-width: 320px) and (max-width: 1024px){
    .object-viewer {
        margin-left: 4%;
    }
    .object-viewer > .right-content header .description {
        margin-top: 11%;
    }
    .object-viewer > .right-content header .description {
        font-size: 100%;
        margin-top: 24%;
        position: relative;
        top: -49px;
    }
    .object-viewer > .right-content main {
        margin-top: 7%;
    }
    .object-viewer > .left-content { width: 100%; }
    .object-viewer > .right-content {
        width: 100%;
        top: 22px;
        left: -1%;
        padding-bottom: 20vh;
    }
    #images-slider > .content {
        margin-top: 10%;
    }
    .docs > a{ display: none; }
    .object-viewer > .right-content footer { margin-top: -2%; }
}
@media all and (min-width: 320px) and (max-width: 640px){
    .object-viewer > .left-content header .object-contacts .contact {
        width: 84%;
        margin-top: 2%;
    }
    .object-viewer {
        width: 89%;
        margin-top: 11%;
    }
    #images-slider {
        margin-top: -38%;
        height: 354px;
    }
    #images-slider > .content #current {
        height: 151px;
        margin-left: 6%;
        width: 77%;
    }
    #images-slider > .footer .image-switcher img {
        height: 37px;
    }
    #images-slider > .header header.switcher {
        top: 189%;
        left: 6%;
    }
    #images-slider > .header footer.switcher {
        top: 196%;
        right: 7%;
    }
    .object-viewer > .right-content footer .view-player {
        height: 165px;
        width: 96%;
    }
    #objects > .objects-list main table { border-top: none; }
    .object-viewer > .left-content header .object-contacts .contact img {
        width: calc(25px * 2);
        vertical-align: middle;
    }
    .object-viewer > .left-content header .object-contacts .contact span,  .object-viewer > .left-content header .object-contacts .contact a{
        display: inline-block;
        font-size: calc(45% * 2);
    }
}
@media all and (min-width: 640px) and (max-width: 1024px){
    .object-viewer {
        width: 88%;
        margin-left: 4%;
    }
    .object-viewer > .right-content footer {
        margin-top: 2%;
    }
    #images-slider {
        margin-top: -22%;
    }
    #images-slider > .header header.switcher{top: 291%;left: 5%;}
    #images-slider > .header footer.switcher {top: 277%;right: 3%;}
    #objects > .objects-list {
        width: 71%;
        margin-left: 17%;
        margin-top: -33%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    #images-slider {
        margin-top: -28%;
        height: 616px;
    }
    .object-viewer > .right-content header .description {
        margin-top: 14%;
    }
    #images-slider > .content #current {
        width: 88%;
        height: 337px;
        transform: scaleY(0.8);
    }
    .object-viewer > .right-content {
        top: 35px;
    }
    #images-slider > .header header.switcher {
        margin-left: -2%;
        top: 195%;
    }
    #images-slider > .header footer.switcher {
        top: 277%;
        margin-right: -29%;
    }
    #images-slider > .content {margin-top: -5%;margin-left: 8%;}
    .object-viewer > .right-content header .description span {
        position: relative;
        top: -84px;
    }
    .object-viewer > .right-content header .description a {
        margin-top: 0%;
        position: relative;
        top: -66px;
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    .object-viewer > .right-content header .description {
        margin-top: 24%;
    }
    .object-viewer > .right-content {
        top: -38px;
    }
    .object-viewer > .right-content footer .view-player {
        width: 94%;
    }
    #images-slider > .header header.switcher {
        top: 209%;
        margin-left: -6%;
    }
}
@media all and (min-width: 1366px) and (max-width: 1400px){
    .objects-adding-search > header #right-content header {
        margin-top: 0vw;
    }
    .input-from-to {
        display: block;
        margin-top: -5%;
    }
    .object-viewer > .right-content header .description {
        margin-top: 22%;
    }
    .object-viewer > .right-content {
        top: -38px;
    }
}
@media all and (min-width: 1400px) and (max-width: 1600px){
    .object-viewer > .right-content header .description {
        margin-top: 23%;
    }
    .object-viewer > .right-content {
        top: -52px;
    }
    #images-slider > .content #current {
        width: 89%;
    }
    .object-viewer > .right-content footer .view-player {
        width: 93%;
    }
    #images-slider > .header footer.switcher {
        margin-right: -32%;
    }
    #images-slider > .header header.switcher {
        top: 205%;
    }
}
@media all and (min-width: 1680px) and (max-width: 1800px){
    .object-viewer > .right-content {
        top: -34px;
    }
    #images-slider > .header header.switcher {
        top: 207%;
    }
    #objects > .objects-list {
        margin-top: -2%;
    }
}
@media all and (min-width: 1800px){
    #images-slider > .content {
        margin-top: -3%;
    }
    .object-viewer > .right-content footer {
        margin-top: -8%;
    }
    .object-viewer > .right-content footer .view-player {
        width: 88%;
    }
    #images-slider > .content #current {
        width: 85%;
    }
    #images-slider > .header footer.switcher {
        margin-right: -28%;
    }
    #images-slider > .header header.switcher {
        top: 205%;
    }
    #objects > .objects-list {
        margin-top: 2%;
    }
}
@media all and (width: 1280px) {
    #images-slider > .content {
        margin-top: 2%;
    }
    #images-slider > .header footer.switcher {
        top: 263%;
        margin-right: -34%;
    }
}
@media all and (min-width: 1280px) {
    .object-viewer > .left-content {
        width: 45%;
        padding-right: 4%;
    }
}
@media all and (min-width: 600px) and (max-width: 640px){
    #images-slider {
        margin-top: -23%;
    }
    .object-viewer > .right-content footer {
        position: relative;
        top: 44px;
    }
    #images-slider > .content #current {
        margin-left: 4%;
    }
    .video-player > .play {
        left: 38%;
    }
    #objects > .objects-list {
        margin-top: -38%;
        padding-top: 9%;
    }
}
@media all and (min-width: 900px) and (max-width: 1024px){
    #images-slider > .content {
        margin-top: 13%;
    }
    #images-slider > .header header.switcher {
        top: 364%;
        left: 6%;
    }
    .object-viewer > .right-content footer {
        margin-top: 10%;
    }
}
@media all and (min-width: 800px) and (max-width: 960px){
    #objects > .objects-list {
        margin-top: -12%;
        padding-top: 4%;
    }
}
@media all and (min-width: 500px) and (max-width: 599px){
    #images-slider > .content {
        margin-top: 25%;
    }
    #images-slider > .header header.switcher {
        top: 275%;
        left: 8%;
    }
    #images-slider > .header footer.switcher {
        top: 182%;
        right: 6%;
    }
    .object-viewer > .right-content main {
        margin-top: 3%;
    }
    #objects > .objects-list {
        margin-top: -35%;
    }
    .video-player > .play {
        left: 37%;
    }
    .object-viewer > .right-content footer {
        margin-top: 20%;
    }
}
@media all and (min-width: 400px) and (max-width: 500px){
    .object-viewer > .right-content main {
        margin-top: 15%;
    }
    #images-slider {
        margin-top: -30%;
    }
    .object-viewer > .right-content footer {
        margin-top: 8%;
    }
    #images-slider > .header footer.switcher {
        top: 157%;
        right: 4%;
    }
    #objects > .objects-list {
        margin-top: -55%;
    }
    .video-player > .play {
        top: -135px;
        left: 35%;
    }
}
@media all and (min-width: 320px) and (max-width: 400px){
    #objects > .objects-list {
        margin-top: -45%;
    }
}
@media all and (width: 1024px){
    #objects > .objects-list {
        margin-top: -18%;
    } 
}