@import url('hotels.css');
h2.view-title{
    color: black;
    font-size: 80%;
}
span.view-title{
    font-size: 60%;
    text-transform: uppercase;
    font-weight: bold;
}
.object-viewer{
    width: 80%;
    margin-left: 10%;
}
.object-viewer > .left-content, .object-viewer > .right-content{
    display: inline-table;
    width: 50%;
}
.object-viewer > .right-content{
    width: 48%;
}
.object-viewer > .left-content header{
    margin-top: 2%;
}
.object-viewer > .left-content header .title{
    padding-top: 1%;
    padding-bottom: 1%;
}
.object-viewer > .left-content header .metadata{
    margin-top: 2%;
    padding-bottom: 1%;
    border-bottom: solid 2px dodgerblue;
}
.object-viewer > .left-content header .metadata div{
    font-size: 71%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 2px dodgerblue;
}
.object-viewer > .left-content header .metadata div span{
    color: black;
    font-weight: bold;
}
.object-viewer > .left-content header .object-contacts{
    margin-top: 4%;
    width: 120%;
}
.object-viewer > .left-content header .object-contacts .contact{
    width: 27%;
    display: inline-table;
    margin-left: 0%;
    border-bottom: solid 3px dodgerblue;
    height: 74px;
    padding-bottom: 18px;
}
.object-viewer > .left-content header .object-contacts .contact img{
    width: 35px;
}
.object-viewer > .left-content header .object-contacts .contact span{
    display: block;
    font-size: 61%;
    margin-top: 11%;
    color: black;
    font-weight: bold;
}
.object-viewer > .left-content header .object-contacts .contact a{
    display: block;
    font-size: 61%;
    margin-top: 11%;
    color: dodgerblue;
    font-weight: bold;
}
.object-viewer > .left-content main{
    margin-left: 8%;
    margin-top: 2%;
}
.object-viewer > .left-content main .view-title{
    color: gray;
    font-size: 80%;
}
.object-viewer > .left-content footer{
    margin-left: 8%;
    margin-top: 2%;
}
.object-viewer > .left-content footer #more{
    color: dodgerblue;
    font-size: 80%;
    text-decoration: none;
    border-bottom: dashed 2px dodgerblue;
}

#objects > .objects-list main table {
    border-top: solid 2px gray;
}
#objects > .objects-list main table .header {
    height: 60px;
}
.specifications{
    width: 100%;
    margin-top: 2%;
    font-size: 96%;
    border-collapse: collapse;
}
.specifications > tbody tr{
    height: 35px;
}
.specifications > tbody tr:nth-child(2n){
    background-color: white;
}
.specifications > tbody tr td{
    color: gray;
}
.specifications > tbody tr td:nth-child(2){
    color: black;
    font-weight: bold;
}
.object-viewer > .right-content header .add-to-favorite{
    font-size: 120%;
    padding-bottom: 3%;
}
.object-viewer > .right-content header .add-to-favorite i{
    color: dodgerblue;
    vertical-align: middle;
}
.object-viewer > .right-content header .add-to-favorite a{
    font-size: 60%;
    color: black;
    text-decoration: none;
}
.object-viewer > .right-content header .description{
    font-size: 100%;
}
.object-viewer > .right-content header .description span{
    height: 44px;
    overflow: auto;
    text-overflow: ellipsis;
    color: black;
    font-size: 67%;
    display: block;
}
.object-viewer > .right-content header .description a{
    margin-top: 1%;
    display: block;
}
.object-viewer > .right-content main {
    margin-top: 3%;
    display: block;
}
.object-viewer > .right-content footer {
    margin-top: 2%;
    display: block;
}
.object-viewer > .right-content main .view-title {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8%;
    color: gray;
    display: block;
}
.object-viewer > .right-content footer .view-title {
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8%;
    color: gray;
    display: block;
}
.object-viewer > .right-content footer .view-player {
    display: block;
    width: 100%;
    height: 304px;
    margin-left: 8%;
    margin-top: 2%;
}
#images-slider{
    display: block;
    margin-top: -18%;
    width: 100%;
    height: 617px;
}
#images-slider > .header{
    padding-top: 2%;
}
#images-slider > .header .switcher{
    width: 25%;
    display: inline-table;
    height: auto;
}
#images-slider > .header .switcher:hover{
    cursor: pointer;
}
#images-slider > .header header.switcher{
    float: left;
    position: relative;
    top: 185%;
}
#images-slider > .header footer.switcher{
    float: right;
    position: relative;
    top: 178%;
    margin-right: -40%;
}
#images-slider > .header .switcher img{
    width: 26px;
}
#images-slider > .content{
    width: 95%;
    display: block;
    margin-left: 16%;
}
#images-slider > .content #current{
    width: 100%;
    object-fit: cover;
    height: 337px;
}
#images-slider > .footer{
    display: block;
    margin-top: 2%;
    background-color: transparent;
    margin-left: 8%;
}
#images-slider > .footer .image-switcher{
    width: 20%;
    display: inline-table;
}
#images-slider > .footer .image-switcher:hover{
    cursor: pointer;
    opacity: 0.85;
}
#images-slider > .footer .image-switcher img{
    width: 99%;
    object-fit: cover;
    height: 80px;
}
.image-current{
    opacity: 0.65;
}