@import url('../objects.css');
@import url('../services/hotels-input-services.css');
@import url('../services/hotels-searchfilter-adaptive.css');
@import url('../services/objects-services-cont.css');

#objects > .projects-search-form {
    height: 980px;
}
.objects-adding-search{
    width: 100%;
    height: auto;
    display: block;
    margin-left: -6%;
}
.objects-adding-search > main{
    width: 100%;
    display: block;
}
.objects-adding-search > main header{
    display: block;
    position: relative;
    left: 2%;
    margin-top: 21%;
}
.objects-adding-search > main footer#form-popup{
    display: block;
    margin-left: 10%;
    margin-top: -7%;
}
.objects-adding-search > main header form div{
    display: inline;
    margin-top: -10%;
    height: auto;
    float: left;
    width: 50%;
    border: solid 2px gray;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-left: -5px;
}
.objects-adding-search > main header form div .label{
    font-size: 60%;
    position: relative;
    top: -18px;
    background-color: white;
    padding-left: 1%;
    left: -3%;
    padding-right: 2%;
}
.objects-adding-search > main header form div input{
    display: block;
    margin-top: -2%;
    background-color: white;
    border: none;
    font-size: 100%;
    width: 100%;
}
.objects-adding-search > main header form div input::placeholder{
    color: darkgray;
}
.objects-adding-search > main header form div input:focus{
    border: none;
}
.objects-adding-search > header #left-content header form div:nth-child(1) select {
    width: 98%;
}
.objects-adding-search > main footer#form-popup .check-selectors, .objects-adding-search > main footer#form-popup .radio-selectors{
    display: block;
    margin-top: 2%;
    width: 50%;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-left: -11px;
}
.objects-adding-search > main footer#form-popup .check-selectors .title-form, .objects-adding-search > main footer#form-popup .radio-selectors .title-form{
    font-size: 67%;
    position: relative;
    top: -13px;
    margin-left: -4%;
}
.objects-adding-search > main footer#form-popup .check-selectors label, .objects-adding-search > main footer#form-popup .radio-selectors label{
    font-size: 90%;
    margin-top: 2px;
    display: block;
    margin-left: -10px;
}
.objects-adding-search > main footer#form-popup .check-selectors label input, .objects-adding-search > main footer#form-popup .radio-selectors label input{
    top: 13%;
    position: relative;
}
.objects-adding-search > main footer#form-popup .check-selectors label span, .objects-adding-search > main footer#form-popup .radio-selectors label span{
    padding-left: 2px;
}
.objects-adding-search > footer{
    margin-top: -15%;
    margin-left: 6%;
}
.objects-adding-search > footer #left-content{
    position: relative;
    top: 5%;
}
.objects-adding-search > footer #left-content .input-from-to{
    font-size: 120%;
    text-indent: 2%;
}
.objects-adding-search > footer #left-content .input-from-to input#from{
    width: 10%;
    font-size: 110%;
}
.objects-adding-search > footer #left-content .input-from-to input#to{
    width: 15%;
    font-size: 110%;
}
.objects-adding-search > footer #right-content{
    float: right;
    width: 35%;
    display: inline-table;
    margin-top: 66px;
    right: 28%;
    position: relative;
}
.objects-adding-search > header #left-content{
    width: 52%;
    height: auto;
}
.objects-adding-search > header #left-content header{
    margin-left: -1%;
    height: auto;
    margin-top: 2%;
}
.objects-adding-search > header #left-content header form div .label{
    font-size: 40%;
    display: block;
    background-color: white;
    position: relative;
    top: -9px;
    padding-left: 13px;
    left: -3%;
    width: 6pc;
}
.objects-adding-search > header #left-content header form div select{
    display: block;
    border: none;
    background-color: white;
    width: 98%;
    font-size: 51%;
}
.objects-adding-search > header #left-content header form div {
    border: solid 2px gray;
    border-radius: 10px;
    width: 97%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    position: relative;
    top: 3px;
}
.objects-adding-search > header #left-content header form div:not(:nth-child(1)){
    display: inline-table;
    width: 46%;
    padding-right: 2px;
}
.objects-adding-search > header #right-content{
    width: 50%;
    font-size: 80%;
    height: auto;
    background-color: transparent;
    position: relative;
    right: -5%;
}
.objects-adding-search > header #right-content header{
    height: auto;
    margin-top: -183px;
}
.objects-adding-search > header #right-content footer{
    display: block;
    margin-top: 9%;
    margin-left: 8%;
}

.objects-adding-search > main footer#form-popup .check-selectors label input, 
.objects-adding-search > main footer#form-popup .radio-selectors label input,
.form-group > div footer .check-selectors label input, 
.form-group > div footer .radio-selectors label input {
    left: -9999px;
    position: fixed !important;
}

.objects-adding-search > main footer#form-popup .check-selectors label input + span, 
.objects-adding-search > main footer#form-popup .radio-selectors label input + span,
.form-group > div footer .check-selectors label input + span, 
.form-group > div footer .radio-selectors label input + span {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.objects-adding-search > main footer#form-popup .check-selectors label input + span:before, 
.objects-adding-search > main footer#form-popup .radio-selectors label input + span:before,
.form-group > div footer .check-selectors label input + span:before, 
.form-group > div footer .radio-selectors label input + span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    background-color: white;
}

.objects-adding-search > main footer#form-popup .check-selectors label input + span:before,
.form-group > div footer .check-selectors label input + span:before {
    border-radius: 2px;
}

.objects-adding-search > main footer#form-popup .radio-selectors label input + span:before,
.form-group > div footer .radio-selectors label input + span:before {
    border-radius: 100%;
}

.objects-adding-search > main footer#form-popup .check-selectors label input + span:after, 
.objects-adding-search > main footer#form-popup .radio-selectors label input + span:after, 
.form-group > div footer .check-selectors label input + span:after, 
.form-group > div footer .radio-selectors label input + span:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.objects-adding-search > main footer#form-popup .check-selectors label input:checked + span:after,
.form-group > div footer .check-selectors label input:checked + span:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0079bf;
    border-bottom: 4px solid #0079bf;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.objects-adding-search > main footer#form-popup .radio-selectors label input:checked + span:after,
.form-group > div footer .radio-selectors label input:checked + span:after{
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #0079bf;
}

.objects-adding-search > main footer#form-popup .check-selectors label input + span:after, 
.objects-adding-search > main footer#form-popup .radio-selectors label input + span:after,
.form-group > div footer .check-selectors label input + span:after, 
.form-group > div footer .radio-selectors label input + span:after {
    opacity: 0;
}

.objects-adding-search > main footer#form-popup .check-selectors label input:checked + span:after, 
.objects-adding-search > main footer#form-popup .radio-selectors label input:checked + span:after,
.form-group > div footer .check-selectors label input:checked + span:after, 
.form-group > div footer .radio-selectors label input:checked + span:after {
    opacity: 1;
}
#objects > .projects-search-form footer #left-content {
    width: 50%;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 40px;
}
#objects > .projects-search-form footer #left-content-add {
    width: 50%;
    margin-top: 2%;
}
.ui-slider-horizontal .ui-slider-range { background: #0079bf; }
.ui-widget.ui-widget-content {
    height: 5px;
    background: #bec4c6;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border-radius: 50%;
}
.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 15px;
    height: 15px;
    background: #0079bf;
    color: #0079bf;
}
.objects-adding-search > header #right-content .input-from-to > span.content-form {
    padding-left: 4%;
}

@media all and (max-width: 414px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }
    .objects-adding-search > footer #right-content {
        width: 90%;
        margin-top: -129px;
        right: -60vw;
    }
    .range-form {
        width: 20%;
        margin-top: 64px;
    }
    .range-form:nth-child(2) {
        margin-top: 52px;
    }
    #objects > .projects-search-form main form {
        margin-top: -12%;
        margin-left: 0vw;
    }
    .objects-adding-search > header #left-content {
        width: 100%;
        position: relative;
        top: 70%;
    }
    .objects-adding-search > header #left-content header form div:not(:nth-child(1)) {
        width: 97%;
    }
    .objects-adding-search > header #right-content {
        width: 111%;
    }
    .objects-adding-search > header #right-content header {
        width: 91%;
        margin-top: 4%;
    }
    .objects-adding-search > main header form div { 
        width: 100%; 
        margin-top: 15%;
    }
    #objects > .projects-search-form footer #left-content {
        width: 109%;
        margin-left: 3vw;
    }

}
@media all and (min-width: 414px) and (max-width: 600px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }
    .objects-adding-search > footer #right-content {
        width: 70%;
        margin-top: -131px;
        right: -36vw;
    }
    #objects > .projects-search-form main form {
        margin-top: -12%;
        margin-left: 0vw;
    }
    .objects-adding-search > header #left-content {
        width: 100%;
        position: relative;
        top: 70%;
    }
    .objects-adding-search > header #left-content header form div:not(:nth-child(1)) {
        width: 97%;
    }
    .objects-adding-search > header #right-content {
        width: 111%;
    }
    .objects-adding-search > header #right-content header {
        width: 91%;
        margin-top: 4%;
    }
    .objects-adding-search > main header form div { 
        width: 100%; 
        margin-top: 15%;
    }
    #objects > .projects-search-form footer #left-content {
        width: 100%;
        margin-left: 3vw;
    }
    .range-form {
        width: 30%;
        margin-top: 64px;
    }
    .range-form:nth-child(2) {
        margin-top: 52px;
    }
}
@media all and (min-width: 600px) and (max-width: 768px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }
    .objects-adding-search > footer #right-content {
        width: 70%;
        margin-top: -140px;
        right: -30vw;
    }
    #objects > .projects-search-form main form {
        margin-top: -12%;
        margin-left: 0vw;
    }
    .objects-adding-search > header #left-content {
        width: 100%;
        position: relative;
        top: 70%;
    }
    .objects-adding-search > header #left-content header form div:not(:nth-child(1)) {
        width: 97%;
    }
    .objects-adding-search > header #right-content {
        width: 111%;
    }
    .objects-adding-search > header #right-content header {
        width: 91%;
        margin-top: 4%;
    }
    .objects-adding-search > main header form div { 
        width: 100%; 
        margin-top: 15%;
    }
    #objects > .projects-search-form footer #left-content {
        width: 100%;
        margin-left: 3vw;
    }
    .range-form {
        width: 30%;
        margin-top: 68px;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
}
@media all and (min-width: 768px) and (max-width: 800px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }
    .objects-adding-search > header #left-content {
        width: 100%;
        position: relative;
        top: 74%;
    }
    .range-form {
        width: 30%;
        margin-top: 68px;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
}
@media all and (min-width: 800px) and (max-width: 960px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }
    .objects-adding-search > header #right-content {
        width: 110%;
        right: -4%;
        top: 279%;
    }
    .objects-adding-search > main header form div {
        margin-top: 40%;
        width: 97%;
    }
    .objects-adding-search > footer #right-content {
        margin-top: 27px;
        right: 5%;
    }
    .objects-adding-search > footer #left-content .input-from-to {
        width: 188%;
    }
    .range-form {
        width: 90%;
        margin-top: 68px;
    }
    .range-form:nth-child(2) {
        margin-top: 62px;
    }
}
@media all and (min-width: 960px) and (max-width: 1024px){
    .objects-adding-search > main footer#mobile-form-popup{ display: inherit; }
    .objects-adding-search > main footer#form-popup{ display: none; }

    .objects-adding-search > header #right-content {
        width: 110%;
        right: -4%;
        top: 279%;
    }
    .objects-adding-search > main header form div {
        margin-top: 40%;
        width: 97%;
    }
    .objects-adding-search > footer #right-content {
        margin-top: 27px;
        right: 5%;
    }
    .objects-adding-search > header #left-content {
        width: 100%;
    }
    .range-form {
        width: 90%;
        margin-top: 80px;
    }
    .range-form:nth-child(2) {
        margin-top: 62px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px){
    #objects > .projects-search-form {
        width: 75%;
    }
    .objects-adding-search > footer #left-content .input-from-to {
        width: 189%;
    }
    .range-form {
        width: 90%;
        margin-top: 80px;
    }
    .range-form:nth-child(2) {
        margin-top: 62px;
    }
}
@media all and (min-width: 1280px) and (max-width: 1366px){
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: -4%;
    }
    #objects > .projects-search-form footer {
        margin-top: -17%;
    }
    .objects-adding-search > footer #left-content .input-from-to {
        width: initial;
    }
    .range-form {
        width: inherit;
    }
    .objects-adding-search > footer #right-content {
        margin-top: 102px;
        right: 30%;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
    .objects-adding-search > main header form div {
        margin-top: -43px;
        font-size: 75%;
    }
    .objects-adding-search > header #left-content header form div:not(:nth-child(1)) {
        width: 45%;
        padding-right: 6px;
    } 
}
@media all and (min-width: 1366px) and (max-width: 1440px){
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: 3%;
    }
    #objects > .projects-search-form footer {
        margin-top: -17%;
    }
    .objects-adding-search > footer #right-content {
        margin-top: 51px;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
    .objects-adding-search > main header form div {
        margin-top: -80px;
        font-size: 75%;
    }
    .range-form {
        margin-top: 62px;
    }
}
@media all and (min-width: 1440px) and (max-width: 1536px){
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: 2%;
    }
    .range-form {
        margin-top: 73px;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
}
@media all and (min-width: 1536px) and (max-width: 1600px){
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: 2%;
    }
    .range-form {
        margin-top: 57px;
    }
    .range-form:nth-child(2) {
        margin-top: 55px;
    }
}
@media all and (min-width: 1600px) and (max-width: 1920px){
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: 2%;
    }
}
@media all and (min-width: 1920px){
    #objects > .projects-search-form {
        height: 1020px;
    }
    #objects > .projects-search-form main .objects-adding-search header #right-content {
        margin-top: 1%;
    }
    .objects-adding-search > footer #right-content {
        top: 18px;
    }
    .range-form:nth-child(2) {
        margin-top: 64px;
    }
}