:root {
  --bs-primary: #f78da7;
  --bs-secondary: #000;
}

.btn-primary {
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
}

.btn-custom-stadin {
  --bs-btn-bg: #000;
  --bs-btn-border-color: #f78da7;
}
.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #f78da7;
    --bs-btn-border-color: #f78da7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f78da7;
    --bs-btn-hover-border-color: #f78da7;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fa7999;
    --bs-btn-active-border-color: #fa7999;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f78da7;
    --bs-btn-disabled-border-color: #f78da7;
  }

  .btn:disabled, .btn.disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
  }

  #togglePassword {
    cursor: pointer;
  }

  .bg-icons {
    background-color: var(--bs-primary) !important;
  }